.snarkTorrentOdd, .snarkTorrentEven,  .peerinfo, .debuginfo {
    display: none;
}

.active, #snarkFoot tr {
    display: table-row;
}

#torrentDisplay input#active {
    pointer-events: none;
}

#torrentDisplay input:not(#active) {
    pointer-events: auto;
}

.ubergine #torrentDisplay input#active + label {
    color: #979 !important;
    text-shadow: 0 1px 1px #000 !important;
    box-shadow: inset 0 0 0 1px #000, inset 2px 2px 2px 2px #101 !important;
    background: radial-gradient(at center bottom, rgba(255, 32, 160, .25), rgba(128, 64, 128, .15) 50%, rgba(0, 0, 0, 0)), linear-gradient(to bottom, #180818, #280828) !important;
}

.vanilla .snarkTorrentOdd, .vanilla .snarkTorrentEven, .vanilla .peerinfo {
    background: #dfd6d1 !important;
}

.vanilla #torrentDisplay input#active + label {
    box-shadow: inset 0 0 0 1px #efe6e0, inset 2px 2px 3px 1px #59513b, 0 0 0 1px rgba(77, 69, 62, 0.1) !important;
}

.zilvero .snarkTorrentOdd, .zilvero .snarkTorrentEven, .zilvero .peerinfo {
    background: #f0f0f0 !important;
}

.zilvero #torrentDisplay input#active + label {
    color: #444 !important;
    box-shadow: inset 0 0 0 1px #fff, inset 2px 2px 2px #999 !important;
}

.midnight .snarkTorrentOdd, .midnight .snarkTorrentEven, .midnight .peerinfo {
    background: linear-gradient(to bottom, #040408, #030306) !important;
}

.midnight #torrentDisplay input#active + label {
    color: #349 !important;
    text-shadow: 0 1px 1px #000 !important;
    box-shadow: inset 0 0 0 1px #000, inset 3px 3px 3px #000 !important;
    background: #113 !important;
}

.light .snarkTorrentOdd, .light .snarkTorrentEven, .light .peerinfo {
    background: linear-gradient(to bottom, #fff, #eaeaff) !important;
}

.light #torrentDisplay input#active + label {
    color: #88a !important;
    text-shadow: 0 1px 1px  #fff !important;
    box-shadow: inset 0 0 0 1px #fff, inset 2px 2px 2px #99b !important;
    background: linear-gradient(to bottom, #f2f2ff, #f6f6ff) !important;
}

.dark .snarkTorrentOdd, .dark .snarkTorrentEven, .dark .peerinfo {
    background: linear-gradient(to bottom, #001400, #000600) !important;
}

.dark #torrentDisplay input#active + label {
    color: #262 !important;
    text-shadow: 0 0 1px #000, 0 1px 2px #010 !important;
    box-shadow: inset 0 0 0 1px #000, inset 3px 3px 3px #000 !important;
    background: radial-gradient(at center bottom, rgba(16,72,16,.3), rgba(0,0,0,0) 50%), linear-gradient(to bottom, #000a00, #020);
}

.classic .snarkTorrentOdd, .classic .snarkTorrentEven, .classic .peerinfo {
    background: #e7e8ff !important;
}

.classic #torrentDisplay input#active + label {
    color: #66a !important;
    box-shadow: inset 0 0 0 1px #fff, inset 2px 2px 2px #779 !important;
    background: linear-gradient(to bottom, #eff2ff, #fff) !important;
}

#torrentDisplay input#active + label {
    cursor: default !important;
}
