/* SusiDNS "Camo" theme (aka "dark") */
/* Author: dr|z3d */

@import url(/themes/fonts/DroidSans.css);
@import url(/themes/console/dark/optbox.css);

body, html {
  min-height: 100%;
  background: #000;
  background: repeating-linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,16,0,.5) 1px, rgba(0,16,0,.5) 2px), url(/themes/console/dark/images/camotile2.png) top left fixed #010;
  background: repeating-linear-gradient(to right, rgba(0,80,0,.1) 1px, rgba(0,16,0,.3) 2px, rgba(0,16,0,.3) 3px), linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)), repeating-linear-gradient(to bottom, rgba(0,0,0,.6) 1px, rgba(0,32,0,.3) 2px, rgba(0,32,0,.3) 3px), url(/themes/console/dark/images/camotile.png) #010 !important;
}

html {
  scrollbar-color: rgba(8,48,8,.8) #000800;
}

html:hover {
  scrollbar-color: rgba(16,72,16,.8) #000800;
  transition: ease scrollbar-color .1s;
}

body, input, input[type=submit], input[type=reset], .fakebutton, #hostNotes td:last-child, #hostNotes textarea {
  font-family: Droid Sans, Open Sans, Noto Sans, Ubuntu, Bitstream Vera Sans, Lucida Grande, DejaVu Sans, Segoe UI, Verdana, Helvetica, sans-serif;
}

textarea, #helpconfig li b, .destaddress {
  font-family: Droid Sans Mono, Noto Mono, Lucida Console, DejaVu Sans Mono, monospace;
}

body {
  margin: 0 10px;
  padding-top: 5px;
  min-width: 650px;
  line-height: 120%;
  color: #ee9;
}

body.iframed {
  margin: 0;
  background: transparent !important;
}

::selection {
  background: rgba(0,187,0,.99) !important;
  color: #000;
  text-shadow: none;
}

.destaddress::selection {
  background: rgba(255,255,0,.99) !important;
}

::-moz-selection {
  background: #0b0 !important;
  color: #000;
  text-shadow: none;
}

.destaddress, textarea {
  scrollbar-color: rgba(16,48,16,.4) rgba(0,0,0,0);
}

.destaddress:hover, textarea:hover {
  scrollbar-color: rgba(24,80,24,.9) rgba(0,0,0,.9);
}

#navi, .buttons, #buttons, #host_list tr:first-child, #host_list img, #host_list td:nth-child(n+2) a {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.page {
  margin: 10px 0;
  padding: 0 5px;
  position: relative;
  color: #ee9;
  font-size: 9pt !important;
}

.iframed .page {
  margin: 0;
  padding: 0 12px;
  background: transparent !important;
}

/* topnav */

#navi  {
  margin: -16px auto 30px;
  padding: 5px 3px;
  position: sticky;
  top: -1px;
  z-index: 999;
  text-align: center;
  border: 1px solid #252;
  border-radius: 0 1px 2px 2px;
  box-shadow: inset 0 0 0 1px #000, 0 2px 2px 2px rgba(0,0,0,.7);
  background: #000 url(/themes/console/dark/images/header.png) repeat-x scroll center center !important;
  background: repeating-linear-gradient(135deg, #000 1px, #000 2px, #010 2px, #010 4px), repeating-linear-gradient(45deg, #000 1px, #000 2px, #010 2px, #010 4px), linear-gradient(to bottom, #1a261a 0%, #223022 7%, #212f21 9%, #172317 21%, #091109 49%, #050d05 50%, #020602 51%, #010301 53%, #000000 56%, #000000 100%), url(/themes/console/dark/images/camotile2.png) top left !important;
  background-blend-mode: exclusion, exclusion, normal, normal;
}

.iframed #navi  {
  margin: -6px -15px 27px;
  padding: 5px 0;
  position: static;
  border: 1px solid #252;
  border-right: none;
  border-left: none;
  border-radius: 0;
  box-shadow: inset 0 0 0 1px #000;
  background: repeating-linear-gradient(to right, rgba(0,0,0,.5) 1px, rgba(0,0,0,.5) 2px, rgba(0,48,0,.3) 3px), linear-gradient(to bottom, #1a261a 0%, #223022 7%, #212f21 9%, #172317 21%, #091109 49%, #050d05 51%, #020602 52%, #010301 55%, #000000 57%), url(/themes/console/dark/images/camotile2.png) top left !important;
  background-blend-mode: normal, exclusion, normal !important;
}

#navi a:link {
  text-transform: capitalize;
}

#navi a:first-child {
  border-radius: 2px 0 0 2px;
}

#navi a:last-child {
  border-radius: 0 2px 2px 0;
}

#navi a, #navi a:visited {
  margin: 1px -4px;
  padding: 3px 8px 4px 25px;
  position: relative;
  display: inline-block;
  color: #494 !important;
  text-shadow: 0 1px 1px #000;
  border: 1px solid #252;
  box-shadow: inset 0 0 0 1px #000, inset 0 0 1px 1px #040;
}

#navi a:hover, #navi a:focus  {
  z-index: 10;
  color: #f60 !important;
  box-shadow: inset 0 0 0 1px #000, inset 0 0 1px 1px rgba(255,128,0,.8);
  background: #000;
}

#navi a:active {
  box-shadow: inset 0 0 0 1px #000, inset 4px 4px 4px rgba(0,0,0,.85);
  color: #ee9 !important;
  text-shadow: none !important;
}

#navi a.abook {
  background: #000 url(/themes/susidns/dark/images/abook.png) 6px center no-repeat;
  background: url(/themes/susidns/dark/images/abook.png) 6px center no-repeat, linear-gradient(to bottom, #002900, #000400);
  background-size: 14px 14px, 100% 100%;
}

#navi a.abook:hover, #navi a.abook:focus {
  background: #000 url(/themes/susidns/dark/images/abook_hover.png) 6px center no-repeat !important;
  background-size: 14px 14px !important;
}

#navi a.abook:active {
  background: #f60 url(/themes/susidns/dark/images/abook_active.png) 6px center no-repeat !important;
  background-size: 14px 14px !important;
}

#navi a#subs {
  background: #000 url(/themes/susidns/dark/images/subs.png) 6px center no-repeat;
  background: url(/themes/susidns/dark/images/subs.png) 6px center no-repeat, linear-gradient(to bottom, #002900, #000400);
  background-size: 14px 14px, 100% 100%;
}

#navi a#subs:hover, #navi a#subs:focus {
  background: #000 url(/themes/susidns/dark/images/subs_hover.png) 6px center no-repeat !important;
  background-size: 14px 14px !important;
}

#navi a#subs:active {
  background: #f60 url(/themes/susidns/dark/images/subs_active.png) 6px center no-repeat !important;
  background-size: 14px 14px !important;
}

#navi a#config {
  background: #000 url(/themes/susidns/dark/images/configure.png) 6px center no-repeat;
  background: url(/themes/susidns/dark/images/configure.png) 6px center no-repeat, linear-gradient(to bottom, #002900, #000400);
  background-size: 14px 14px, 100% 100%;
}

#navi a#config:hover, #navi a#config:focus {
  background: #000 url(/themes/susidns/dark/images/configure_hover.png) 6px center no-repeat !important;
  background-size: 14px 14px !important;
}

#navi a#config:active {
  background: #f60 url(/themes/susidns/dark/images/configure_active.png) 6px center no-repeat !important;
  background-size: 14px 14px !important;
}

#navi a#overview {
  background: #000 url(/themes/susidns/dark/images/overview.png) 6px center no-repeat;
  background: url(/themes/susidns/dark/images/overview.png) 6px center no-repeat, linear-gradient(to bottom, #002900, #000400);
  background-size: 14px 14px, 100% 100%;
}

#navi a#overview:hover, #navi a#overview:focus {
  background: #000 url(/themes/susidns/dark/images/overview_hover.png) 6px center no-repeat !important;
  background-size: 14px 14px !important;
}

#navi a#overview:active {
  background: #f60 url(/themes/susidns/dark/images/overview_active.png) 6px center no-repeat !important;
  background-size: 14px 14px !important;
}

/* end topnav */

hr {
  color: #242;
  background: #242;
  height: 1px;
  border: 0px solid #242;
  width: 100%;
  margin: 5px 0;
  text-align: center;
  display: none;
}

#filter {
  margin-top: -1px;
  padding: 15px 5px;
  border: 1px solid #242;
  text-align: center;
  background: #001000;
}

#filter span a {
  font-size: 8.5pt;
  display: inline-block;
  padding: 2px 6px !important;
}

#search {
  margin-top: -25px !important;
  margin-bottom: -14px !important;
  padding: 0 10px;
  border: 1px solid #242;
}

#booksearch {
  padding: 6px 5px 5px;
  text-align: center;
}

#booksearch > * {
  vertical-align: middle !important;
}

#filter p:first-child {
  padding-bottom: 0;
}

#filter p {
  margin: 8px 0 -8px;
  padding: 0 10px;
  line-height: 210%;
  word-spacing: .1em;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

#filter a, #activefilter {
  margin: 1px 1px 3px;
  padding: 1px 8px;
  min-width: 12px !important;
  display: inline-block;
  line-height: 1.6;
  white-space: nowrap;
  text-transform: capitalize;
  font-size: 105%;
  box-shadow: 0 0 0 1px #030, 0 0 2px 1px rgba(0,0,0,.8), inset 0 0 0 1px #000;
  background: #000;
  background: linear-gradient(to bottom, #020 0%, #000 100%);
}

#filter a:hover {
  text-decoration: none;
  color: #f60;
  box-shadow: 0 0 0 1px #930;
  background: #020;
}

#filter a:active {
  box-shadow: inset 3px 3px 3px #000, 0 0 0 1px #930;
}

p {
  color:#ee9;
  margin: 0 0 4px;
  font-size: 9pt;
  text-align: justify;
}

span.addrhlpr {
  font-size: 9pt;
}

h3 {
  padding: 7px 10px;
  letter-spacing: .18em;
  word-spacing: .1em;
  font-size: 10pt;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 2px #001100;
  color: #ee9;
  border: 1px solid #242;
  box-shadow: inset 0 0 0 1px #000;
  background: #000 url(/themes/console/dark/images/header.png) repeat-x scroll center center;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, #000 50%),
              repeating-linear-gradient(to right, rgba(0,0,0,.5) 1px, rgba(0,16,0,.5) 2px, rgba(0,16,0,.5) 3px),
              linear-gradient(to bottom, #004000, #000 75%);
  -webkit-text-stroke: 1px rgba(237, 237, 146,.3);
}

#content h3 {
  padding-top: 5px;
  padding-bottom: 5px;
}

@media screen and (min-width: 1200px) {
#content h3 {
  padding-top: 8px;
  padding-bottom: 8px;
}
}

.headline h3 {
  margin-top: -10px;
}

.headline h3:first-child {
  margin-bottom: 24px;
}

#content {
  padding: 0 0 10px;
}

#ovrvw #content {
  padding: 10px 10px 20px;
}

#content h3 {
  padding-left: 34px;
  letter-spacing: .12em;
  word-spacing: .1em;
  border: 1px solid #242;
  background: url(/themes/console/images/info/question.png) 8px center no-repeat #000;
  background: url(/themes/console/images/info/question.png) 8px center no-repeat, linear-gradient(to bottom, rgba(0,0,0,0) 50%, #000 50%),
              repeating-linear-gradient(to right, rgba(0,0,0,.5) 1px, rgba(0,16,0,.5) 2px, rgba(0,16,0,.5) 3px),
              linear-gradient(to bottom, #004000, #000 75%);
  background-size: 18px 18px, 100% 100%;
}

#content h3::first-letter {
  font-size: 114% !important;
}

#content h3:first-child {
  margin-top: -15px;
}

#content p {
  margin-bottom: 8px;
  line-height: 160%;
  font-size: 110%;
}

.headline h3:first-child + h4 {
  margin-top: -25px;
  margin-bottom: 26px !important;
}

.headline {
  margin-top: -14px;
}

div#messages {
  padding: 18px 20px 20px;
  width: calc(100% - 66px);
  position: absolute;
  top: 0;
  z-index: 999;
  line-height: 120%;
  font-weight: bold;
  border: 1px solid #242;
  box-shadow: inset 0 0 0 1px #000;
  background: #020 url(/themes/snark/dark/images/delete.png) right 6px top 6px no-repeat;
  background-blend-mode: luminosity;
}

div#messages:hover {
  cursor: crosshair;
  background-blend-mode: normal;
}

#messages p {
  margin: 0;
  padding: 15px 15px 15px 50px !important;
  color: #ee9;
  border-radius: 0;
  background: url(/themes/console/dark/images/infohelp.png) 6px center no-repeat;
}

#messages + p, p.book {
  padding: 20px 20px 20px 50px !important;
  border: 1px solid #242;
  box-shadow: inset 0 0 0 1px #000, inset 0 0 2px 1px #030;
  background: #000 url(images/addressbook.svg) 10px center no-repeat;
  background-size: 20px 20px;
}

#messages:empty {
  display: none;
}

p#filtered {
  margin: -27px 0 10px;
  padding: 12px 10px 8px 20px;
  font-size: 10pt;
}

div#book p, p.messages {
  font-size: 10pt;
}

.book th:first-child, .book td:first-child {
  padding: 0 10px !important;
}

.book td {
  padding: 0;
}

.book td:nth-child(2) {
  padding: 2px 0 2px 5px !important;
  width: 30px;
}

.book td:nth-child(3) {
  padding: 2px 25px 2px 0 !important;
  text-align: center;
  width: 20px;
}

h4 {
  margin-top: -15px;
  margin-bottom: 30px !important;
  padding: 8px 10px 8px 35px;
  word-spacing: .1em;
  font-size: 9pt;
  border: 1px solid #242;
  box-shadow: inset 0 0 0 1px #000, inset 0 0 2px 1px #030 !important;
  background: url(/themes/susidns/images/drive.png) 9px center no-repeat #000 !important;
  background: url(/themes/susidns/images/drive.png) 9px center no-repeat, linear-gradient(to right, #000, #000800) !important;
  display: none; /* largely useless information */
}

a:link, #filter a:visited {
  color: #494;
  text-decoration: none;
  font-weight: bold;
  outline: none;
}

a:hover, a:focus {
  text-decoration: none;
  color: #f60 !important;
}

a:visited {
  color: #7b7;
  text-decoration: none;
}

a:active {
  color: #f90 !important;
}

th {
  padding: 5px 10px;
  text-align: left;
  color: #ee9;
  font-size: 8.5pt;
}

td {
  padding: 5px;
  vertical-align: middle;
  color: #ee9;
  font-size: 9pt;
}

td.checkbox {
  padding: 3px 10px;
  width: 1% !important;
}

.iframed #visualid {
  margin-top: 16px;
  margin-bottom: 16px;
}

#visualid h3 {
  margin-bottom: -1px;
}

#idAddress {
  text-transform: none;
}

#visualid table {
  width: 100%;
  border: 1px solid #242;
  border-collapse: collapse;
  background: #000900;
}

#visualid tr:first-child td {
  padding: 15px 5px !important;
}

#visualid td:first-child {
  text-align: right;
}

#visualid td {
  text-align: left;
}

#visualid td[colspan="2"] {
  padding: 15px 3px;
  border-top: 1px solid #242;
}

#visualid tr:last-child {
  background: #000;
}

form[action="addressbook"] > p.buttons {
  margin: -13px -3px 0;
  padding: 8px 5px;
  border: 1px solid #242;
}

td > img[width="320"], td > img[src^="/imagegen"] {
  margin: 10px 3px;
  padding: 2px;
  border-radius: 1px;
  border: 1px solid #242;
  box-shadow: inset 0 0 0 1px #000;
  background: #000;
}

img[src="/imagegen/id?s=256&c="], img[src="/imagegen/id?s=20&c="] {
  opacity: 0; /* hide broken identicons but ensure hostlist remains intact */
}

ol, ul {
  margin: 0 20px 0 10px;
  display: table-row;
}

li {
  color: #ee9;
  margin: 0;
  font-size: 9pt;
  list-style: square;
  line-height: 150%;
}

#host_list tr:nth-child(odd), #host_details tr:nth-child(odd) {
  background-color: rgba(0,12,0,.5);
  background: linear-gradient(to bottom, #001400, #000600);
}

#host_list tr:nth-child(even), #host_details tr:nth-child(even) {
  background-color: rgba(0,24,0,.5);
  background: linear-gradient(to bottom, #001400, #000600);
}

.help {
  border: 1px solid #242;
  padding: 20px 30px;
}

#sbs h3 a {
  margin-right: 4px;
  float: right;
  font-size: 80% !important;
}

.help h3 {
  margin: 10px -31px;
}

.help h3:first-child {
  margin-top: -21px;
}

.help ul li:last-child {
  margin-bottom: -10px;
}

#helpsubs {
  padding: 0 0 0 40px;
  background: #000 url(/themes/console/dark/images/infohelp.png) 15px center no-repeat !important;
  background: url(/themes/console/dark/images/infohelp.png) 15px center no-repeat, repeating-linear-gradient(to right, #000 1px, #000 2px, #010 3px) !important;
}

#helpsubs p {
  padding: 15px;
  line-height: 130%;
  border: none;
}

#helpconfig {
  background: #000;
  background: repeating-linear-gradient(to right, #000 1px, #000 2px, #010 3px);
}

#helpconfig ul {
  margin: 0 0 -5px -40px;
  display: block;
  columns: 2 500px;
  column-gap: 40px;
}

.iframed #helpconfig, .iframed #helpsubs {
  margin-bottom: 13px;
}

#helpconfig li {
  margin: 0 3px;
}

#helpconfig li b {
  color: #990;
}

div#content p {
  padding: 0 10px;
}

p.footer {
  display: none;
  font-size: 7pt;
  text-align: center;
}

.iframed #footer {
  display: none;
}

p.buttons, #buttons {
  margin: 5px 0 -5px;
  padding: 0 3px;
  text-align: right;
}

div#book + div#buttons {
  margin-top: 3px;
  padding: 0 0 10px;
  border: 1px solid #242;
  background: #000;
}

form[action="export"] > div#buttons {
  margin-top: 15px;
  padding: 0 0 10px;
  border: 1px solid #242;
  background: #000;
}

div#config > textarea, div#content > textarea {
  margin-top: -27px;
  padding: 6px 12px;
  border-radius: 0;
}

textarea[name="config"] {
  height: 250px;
  overflow-y: scroll;
  resize: none;
}

textarea[name="log"] {
  height: calc(100% - 105px);
}

.iframed textarea[name="log"] {
  height: 400px;
  height: auto;
}

div#config + div#buttons, div#content + div#buttons {
  margin-top: -3px;
  margin-bottom: 10px;
  padding: 7px 5px 5px;
  border: 1px solid #242;
  background: #000;
}

div#content + div#buttons {
  margin-top: -13px;
}

/* overview -> svg */

.illustrate {
  margin: 20px auto 10px;
  padding: 0 11px;
  max-width: 700px;
  height: auto;
  font-size: 10pt;
  border: 1px solid #242;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px #000, inset 0 0 2px 1px #242;
  background: #000;
  opacity: .8;
}

.illustrate:hover {
  opacity: 1;
}

#ovrvw p:last-of-type::after {
  margin: 20px 0 25px;
  width: 100%;
  height: 1px;
  display: block;
  background: #131;
  background: linear-gradient(to right, rgba(0,0,0,0) 15%, #131, rgba(0,0,0,0) 85%);
  content: "";
  filter: drop-shadow(0 1px 1px #000);
}

svg #space, svg .subs {
  fill: #010;
  stroke: #242;
}

svg .subs {
  filter: drop-shadow(0 0 1px #000);
}

svg .a.tooltip, svg .private {
  fill: #030;
  stroke: #272;
}

svg path.a.tooltip:not(:hover) {
  fill: #272;
  stroke: #000;
  stroke-width: 2px;
}

svg .privatezone {
  fill: none;
  stroke-width: 2px;
}

svg tspan {
  fill: #ee9;
}

svg tspan.c {
  font-weight: normal;
}

svg tspan:hover, svg .tooltip:hover .g {
  fill: #252;
  cursor: help;
}

svg a tspan:hover, svg #sublist:hover #hovershow,
svg .a.tooltip:hover + .b > tspan, svg .a.private:hover + .b > tspan, svg a:hover .g {
  fill: #f60;
  cursor: pointer;
}

svg path.a.tooltip {
  cursor: help;
}

svg rect.tooltip.a, svg path.a.tooltip.link {
  cursor: pointer;
}

svg rect.tooltip, svg .private {
  filter: drop-shadow(0 1px 1px #f50);
}

svg text {
  filter: drop-shadow(0 1px 1px #000);
}

svg path.link, svg a tspan {
  filter: drop-shadow(0 0 1px rgba(255,80,0,.6));
}

svg #hover stop:first-child, svg #hover2 stop:first-child {
  stop-color: #040;
}

svg #hover stop:last-child, svg #hover2 stop:last-child {
  stop-color: #010;
}

svg #arrow stop:first-child {
  stop-color: #070;
}

svg #arrow stop:nth-child(2) {
  stop-color: #030;
}

svg #arrow stop:last-child {
  stop-color: #010;
}

_:-ms-lang(x), img.illustrate {
  width: auto;
  max-width: 600px;
}

/* end overview -> svg */

div#book, #emptybook {
  margin: -29px 0 -5px;
  padding: 0;
}

#emptybook {
  margin-bottom: -7px;
}

#book table {
  width: 100%;
  border: 1px solid #242;
  border-collapse: separate;
}

#book tr.head {
  background: url(/themes/console/dark/images/header.png) repeat-x scroll center center #000;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, #000 50%), repeating-linear-gradient(to right, rgba(0,0,0,.5) 1px, rgba(0,16,0,.5) 2px, rgba(0,16,0,.5) 3px), linear-gradient(to bottom, #002000, #000 75%) !important;
}

#book table th {
  padding: 10px 0;
  border-bottom: 1px solid #242;
}

#book th:last-child {
  background: url(../images/nuke.svg) center center no-repeat !important;
  background-size: 15px 15px !important;
}

#host_list td {
  border-bottom: 1px solid #131;
}

#book tr:hover td {
  background: #001a00;
}

#host_list tr:hover td {
  border-right: 1px solid transparent;
}

#book tr:hover td:last-child {
  border-right: none;
}

#book  tr:hover td textarea {
  color: #ee9;
}

#book input[type=checkbox] {
  margin: 0;
}

div#add, div#import {
  margin-top: 23px;
  padding: 0 0 10px;
  border: 1px solid #242;
  background: #000;
}

#add h3, #import h3 {
  margin-top: -6px;
  margin-left: -1px;
  margin-right: -1px;
  padding: 8px 10px;
  font-size: 11pt;
}

#add table, #import table {
  margin: -15px 0 -4px;
  padding: 6px 3px;
  width: 100%;
  border-collapse: separate;
  border-top: 1px solid rgba(0,48,0,.5);
  border-bottom: 1px solid rgba(0,48,0,.5);
  border-spacing: 0;
}

#add td:first-child,
#import table td:first-child {
  width: 100px;
  white-space: nowrap;
  text-align: right;
}

#add td:last-child,
#import td:last-child {
  padding-right: 5px;
}

#add p.buttons, #import p.buttons {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #242;
}

#import {
  margin-top: 18px !important;
}

#add input[type=text], #import input[type=file] {
  width: calc(100% - 2px);
}

#import input[type=file] {
  border: none;
  background: none;
}

input::placeholder {
  font-style: italic;
}

input:focus::placeholder {
  opacity: 0;
}

.fakebutton, .fakebutton:visited {
  color: #494;
}

.fakebutton:hover, .fakebutton:focus {
  color: #f60;
}

input[type=submit]::-moz-focus-inner, input[type=reset]::-moz-focus-inner {
  border: none;
  outline: none;
}

input {
  margin: 2px 4px 2px 0;
  padding: 5px !important;
  min-width: 64px !important;
  text-align: left;
  font-size: 8.5pt;
  color: #494;
  border: 1px solid #252;
  border-radius: 1px;
  background: none;
}

input[type=file] {
  cursor: pointer;
}

input[type=submit], input[type=reset], .fakebutton {
  margin: 5px 2px;
  padding: 7px 12px !important;
  min-width: 92px !important;
  text-align: center;
  font-weight: bold;
  color: #494;
  border-radius: 2px;
  border: 1px solid #000;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #151, inset 0 0 0 2px #000, inset 0 0 2px 2px #040, inset 0 0 0 3px #000, 0 0 0 1px rgba(0,16,0,.2);
  background: #000;
  background: linear-gradient(to bottom, #001000, #000 5%, #000 95%, #001000);
  cursor: pointer;
}

input[type=file]::file-selector-button {
  margin: 5px 2px;
  padding: 7px 12px !important;
  min-width: 92px !important;
  text-align: center;
  font-weight: bold;
  color: #494;
  border-radius: 2px;
  border: 1px solid #000;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #151, inset 0 0 0 2px #000, inset 0 0 2px 2px #040, inset 0 0 0 3px #000, 0 0 0 1px rgba(0,16,0,.2);
  background: #000;
  background: linear-gradient(to bottom, #001000, #000 5%, #000 95%, #001000);
  cursor: pointer;
}

input[type=submit]:hover, input[type=reset]:hover,
input[type=submit]:focus, input[type=reset]:focus,
.fakebutton:hover, #fakebutton:focus {
  color: #f60;
  border: 1px solid #f60;
  box-shadow: inset 0 0 0 1px #000, inset 0 0 2px 1px rgba(255,86,0,.8), inset 0 0 0 3px #000 !important;
  background: #000;
}

input[type=file]:hover::file-selector-button, input[type=file]:focus::file-selector-button {
  color: #f60;
  border: 1px solid #f60;
  box-shadow: inset 0 0 0 1px #000, inset 0 0 2px 1px rgba(255,86,0,.8), inset 0 0 0 3px #000 !important;
  background: #000;
}

input[type=submit]:active, input[type=reset]:active, .fakebutton:active {
  color: #ee9 !important;
  text-shadow: 0 1px 1px #000;
  border: 1px solid #f60;
  box-shadow: inset 0 0 0 1px #000, inset 3px 3px 3px 2px #310 !important;
  background: #f60 !important;
  filter: none;
}

input[type=file]:active::file-selector-button {
  color: #ee9 !important;
  text-shadow: 0 1px 1px #000;
  border: 1px solid #f60;
  box-shadow: inset 0 0 0 1px #000, inset 3px 3px 3px 2px #310 !important;
  background: #f60 !important;
  filter: none;
}

input.update {
  margin-left: 5px;
}

.fakebutton {
  margin-right: 3px;
}

input[type=submit]:last-of-type, input[type=reset]:last-of-type {
  margin-right: 5px;
}

input[type=text] {
  padding: 7px !important;
  font-size: 110%;
  border: 1px solid #184818;
}

input[type=text]:focus {
  border: 1px solid #373;
}

input[type=text], textarea {
  color: #bb7;
  box-shadow: inset 0 0 0 1px #000, inset 4px 4px 4px #000, 0 0 0 1px #000;
  background: #000;
  background: linear-gradient(to bottom, #001800, #001000) !important;
}

textarea {
  padding: 3px 5px;
  width: 100%;
  height: 120px;
  resize: none;
  line-height: 140%;
  font-weight: bold;
  font-size: 8.5pt;
  color: #bb7;
  border: 1px solid #242;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #000, inset 4px 4px 4px #000;
}

textarea[cols="70"] {
  width: 100% !important;
  height: 40px;
}

input[type=text]:focus, #add textarea:focus {
  color: #ee9;
  outline: none;
  background: #000 !important;
  filter: drop-shadow(0 0 1px #880);
  transition: ease filter .3s;
}

textarea:focus {
  box-shadow: inset 0 0 1px #880;
  background: #000 !important;
  filter: none;
}

#booksearch input[name=search] {
  padding: 6px 8px 6px 32px !important;
  min-width: 280px !important;
  background: url(/themes/console/images/buttons/search.png) 9px center no-repeat, linear-gradient(to bottom, #001800, #001000) !important;
}

#booksearch input[name=search]:focus {
  background: #000 url(/themes/console/images/buttons/search.png) 9px center no-repeat !important;
}

@media screen and (min-width: 1500px) {
  #booksearch input[name=search], #booksearch input[name=search]:focus {
    padding: 7px 8px 7px 32px !important;
    min-width: 320px !important;
  }
}

/* page titles */

.headline h3 {
  padding: 10px 5px 10px 35px;
  text-transform: uppercase;
  font-size: 11.5pt;
  background: url(images/addressbook.svg) 9px center no-repeat,
              linear-gradient(to bottom, rgba(0,0,0,0) 50%, #000 50%),
              repeating-linear-gradient(to right, rgba(0,0,0,.5) 1px, rgba(0,16,0,.5) 2px, rgba(0,16,0,.5) 3px),
              linear-gradient(to bottom, #004000, #000 75%);
  background-size: 20px 20px, 100% 100%, 100% 100%, 100% 100%;
}

.headline h3::first-letter {
  font-size: 115%;
}

.headline#subscriptions h3 {
  background: url(/themes/susidns/images/subs_24.png) 7px 40% no-repeat, linear-gradient(to bottom, rgba(0,0,0,0) 50%, #000 50%),
              repeating-linear-gradient(to right, rgba(0,0,0,.5) 1px, rgba(0,16,0,.5) 2px, rgba(0,16,0,.5) 3px),
              linear-gradient(to bottom, #004000, #000 75%);
}

.headline#configure h3 {
  background: url(images/configure.svg) 9px center no-repeat,
              linear-gradient(to bottom, rgba(0,0,0,0) 50%, #000 50%), repeating-linear-gradient(to right, rgba(0,0,0,.5) 1px, rgba(0,16,0,.5) 2px, rgba(0,16,0,.5) 3px),
              linear-gradient(to bottom, #004000, #000 75%);
  background-size: 20px 20px, 100% 100%, 100% 100% !important;
}

/* export hosts button adjustments */

#export {
  margin-top: -52px;
  margin-bottom: 23px;
  padding-right: 4px;
  float: right;
  clear: left !important;
  text-align: right;
}

#export input[type=submit] {
  display: inline-block;
}

p#filtered {
  padding: 12px 250px 12px 12px !important;
}

p.book {
  padding-left: 35px !important;
}

#messages + p, p.book {
  border: 1px solid #242;
  background: #000 url(images/addressbook.svg) 5px center no-repeat;
  background-size: 20px 20px;
}

/* hide export button on published addressbook if empty */

#messages + form[action="export"] {
  display: none;
}

/* host details page */

#host_details tr {
  box-shadow: inset 0 0 0 1px #000, inset 0 -1px 0 1px #000, inset 0 0 2px 1px #030, inset 0 -1px 2px 1px #030 !important;
}

#host_details td {
  padding: 8px 5px 8px 10px !important;
  border-bottom: 1px solid #131;
}

#host_details td:first-child {
  padding-right: 0 !important;
  width: 1%;
  white-space: nowrap;
  vertical-align: top;
  font-weight: bold;
  text-align: right;
}

#host_details td:last-child {
  text-align: left;
  border-left: none !important;
  border-right: none !important;
}

#host_details td.destinations {
  background: none;
}

#host_details .destaddress {
  margin-right: 5px;
  word-break: break-all !important;
  white-space: normal !important;
  -moz-user-select: all;
  -webkit-user-select: all;
  user-select: all;
}

#host_details b {
  margin: 0 6px 0 10px;
}

#lastMod:empty::before {
  content: "n/a";
}

/* end host details */

.names img {
  margin: 4px 6px 4px 0;
  padding: 2px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  border: 1px solid #242;
  border-radius: 1px;
  box-shadow: inset 0 0 0 1px #000;
  background: #000;
  image-rendering: crisp-edges;
}

.names img:hover, .names a:focus img {
  border: 1px solid #f60;
  box-shadow: none;
  background: #d30;
}

.names a:active img, .names a:focus img {
  transform: rotate(45deg) scale(.6);
}

/* hostname list */

.book td:nth-child(3) a:not(old) {
  font-size: 0 !important;
}

#host_list {
  margin-top: 28px;
}

#host_list th:first-child, #host_list td:first-child {
  padding-left: 5px !important;
  width: 30%;
  white-space: nowrap;
}

#host_list th:first-child {
  padding-left: 44px !important;
}

#host_list td {
  border-right: 1px solid #131;
  box-shadow: inset 0 0 0 1px #000, inset 0 0 2px 0 #040;
}

#host_list tr:hover td {
  box-shadow: none;
}

#host_list td:last-child {
  width: 16px;
  white-space: nowrap;
  font-weight: bold;
  border-right: none;
}

.names a[href$=".i2p/"], #host_list td.b32link a, #host_list td.helper a {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

td.names:hover, #host_list td.b32link:hover, #host_list td.helper:hover, #host_list td.destinations:hover {
  box-shadow: inset 0 0 0 1px #930 !important;
  background: #000 !important;
}

#host_list .b32link, #host_list .helper {
  padding: 0 5px !important;
  width: 8%;
  min-width: 72px;
  white-space: nowrap;
  text-align: center;
}

#host_list td.b32link a, #host_list td.helper a {
  filter: drop-shadow(0 0 1px #353);
}

#host_list td.b32link a:not(old), #host_list td.helper a:not(old) {
  font-size: 0 !important;
}

#host_list td.b32link a::after {
  width: 16px;
  height: 16px;
  display: inline-block;
  text-align: center;
  background: url(/themes/console/images/svg/link.svg) center center no-repeat;
  background-size: 16px 16px;
  content: "";
  cursor: pointer;
}

#host_list td.helper a::after {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url(images/helper.svg) center center no-repeat;
  background-size: 16px 16px;
  cursor: pointer;
  content: "";
}

#host_list td.b32link a:hover, #host_list td.helper a:hover,
#host_list td.b32link a:focus, #host_list td.helper a:focus {
  filter: drop-shadow(0 0 1px #f60);
}

.destaddress:focus {
  background: #001a00;
  outline: none;
}

#host_list .destaddress {
  white-space: nowrap;
  font-weight: normal;
  padding: 3px 10px !important;
  -moz-user-select: all;
  -webkit-user-select: all;
  user-select: all;
  overflow: hidden;
  text-overflow: ellipsis;
}

#host_list .destaddress:focus {
  overflow: auto;
  text-overflow: clip;
}

/* end hostname list */

td.destinations {
  max-width: 50px !important;
}

tr:hover td.destinations {
  color: #bb0;
}

/* MS Edge fix */
_:-ms-lang(x), * {
  filter: none !important;
}

/* responsive layout */

@media screen and (max-width: 710px) {
  #navi a {
    padding: 2px 8px !important;
    background: linear-gradient(to bottom, #020 0%, #020 50%, #000 50%, #000 100%) !important;
  }

  #navi a.abook:hover, #navi a#overview:hover, #navi a#subs:hover, #navi a#config:hover,
  #navi a.abook:focus, #navi a#overview:focus, #navi a#subs:focus, #navi a#config:focus {
    padding: 2px 8px !important;
    background: #000 !important;
  }

  #navi a.abook:active, #navi a#overview:active, #navi a#subs:active, #navi a#config:active {
    background: #f60 !important;
  }
}

@media screen and (max-width: 1000px) {
  .illustrate {
    margin: 15px auto 10px;
    width: 90%;
    min-width: 450px;
  }
}

@media screen and (max-width: 1200px) {
  #filter {
    padding: 9px 4px 8px;
  }

  #filter a {
    margin: 3px 1px;
    padding: 0 4px;
  }
}

@media screen and (min-width: 1400px) {
  body, input[type=submit], input[type=reset], .fakebutton, input, select, h4, td.names a, li,
  #filter a, #filter span a,  #host_details td, th, #search td, .destaddress {
    font-size: 9.5pt !important;
  }

  p {
    font-size: 10pt !important;
  }

  textarea, th {
    font-size: 9pt;
  }

  #navi {
    padding: 6px 5px !important;
  }

  #navi a.abook, #navi a.abook:hover, #navi a.abook:focus, #navi a.abook:active,
  #navi a#overview, #navi a#overview:hover, #navi a#overview:focus, #navi a#overview:active,
  #navi a#subs, #navi a#subs:hover, #navi a#subs:focus, #navi a#subs:active,
  #navi a#config, #navi a#config:hover, #navi a#config:focus, #navi a#config:active {
    padding: 6px 10px 6px 29px !important;
    letter-spacing: .1em;
    font-size: 10pt !important;
    background-position: 10px center !important;
  }

  h3 {
    font-size: 12pt !important;
  }

  #filter a {
    margin: 0 2px -2px !important;
    min-width: 14px;
  }

  div#filter {
    background: linear-gradient(to right, #000, #001000 10%, #001000 90%, #000);
  }

  form[action="addressbook"] > p.buttons {
    margin-bottom: -20px;
  }

  textarea[name="config"] {
    height: 280px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  #export {
    padding-top: 11px !important;
    padding-left: 8px !important;
    right: -9px !important;
  }
}

@media screen and (min-width: 1500px) {
  body, input[type=submit], input[type=reset], .fakebutton, input,
  select, h4, td.names a, li, #filter a, #filter span a, #host_details td, #search td, .destaddress {
    font-size: 10pt !important;
  }

  input[type=submit], input[type=reset], .fakebutton, th {
    padding: 8px 12px 8px !important;
    font-size: 9pt;
  }

  input[type=text] {
    padding: 8px !important;
  }
  input.export {
    margin-right: 0 !important;
  }
}

@media screen and (min-width: 1600px) {
  p, li {
    font-size: 10.5pt !important;
  }

  textarea {
    font-size: 9.5pt !important;
  }
}

/* end responsive layout */

/* host notes */

#host_details .destaddress {
  word-break: break-all !important;
  white-space: normal !important;
}

#hostNotes td:last-child {
  padding: 0 0 1px !important;
}

#hostNotes:hover td {
  background: transparent !important;
}

#hostNotes td:last-child input[type=submit] {
  margin: 13px 10px 10px;
  float: right;
  display: none;
}

#hostNotes td:last-child textarea:focus + input[type=submit] {
  display: inline-block;
}

#hostNotes textarea {
  margin: 0;
  padding: 7px 8px !important;
  height: 72px !important;
  font-size: 9pt;
  font-weight: normal;
  border: none !important;
  border-radius: 0;
  box-shadow: none;
  background: transparent !important;
}

#hostNotes textarea:hover, #hostNotes textarea:focus {
  border-right: none;
  border-left: none;;
  box-shadow: inset 0 0 0 1px rgba(255,96,0,.5);
  background: #000 !important;
}

#hostNotes textarea::placeholder {
  font-style: italic;
}

#hostNotes textarea:focus::placeholder {
  color: transparent;
}

p#filtered {
  box-shadow: inset 0 0 0 1px #000, inset 0 0 2px 1px #030 !important;
  background: repeating-linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,16,0,.6) 1px, rgba(0,16,0,.6) 2px), url(/themes/console/dark/images/camotile2.png) !important;
}

p#filtered, #export {
  will-change: transform;
}

#visualid table {
  border-spacing: 0;
}

#visualid tr td, #visualid tr:hover td {
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #242;
  box-shadow: none !important;
  background: #010;
  background: repeating-linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,16,0,.5) 1px, rgba(0,16,0,.5) 2px), url(/themes/console/dark/images/camotile2.png) !important;
}

#visualid tr:last-child td {
  padding: 18px 6px;
  border: none;
}

form[action="addressbook"] > p.buttons, #filter, #search, #visualid tr:last-child td, #buttons, #add p.buttons {
  box-shadow: inset 0 0 0 1px #000, inset 0 0 2px 1px #030 !important;
  background: repeating-linear-gradient(to right, rgba(0,0,0,.5) 1px, rgba(0,0,0,.5) 2px, rgba(0,16,0,.5) 3px), linear-gradient(to bottom, #020, #000 75%) !important;
}

#add {
  box-shadow: inset 0 0 0 1px #000, inset 0 0 2px 1px #030 !important;
  background: repeating-linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,16,0,.5) 1px, rgba(0,16,0,.5) 2px), url(/themes/console/dark/images/camotile2.png) !important;
}

#add p.buttons {
  margin-bottom: -10px !important;
  padding-bottom: 4px !important;
}

#host_details.book {
  margin-top: -25px !important;
}

#showing, #paginate {
  display: inline-block;
}

#paginate, #filtered, #results {
  margin-right: 4px;
  display: inline-block;
  float: right;
  word-spacing: 0;
  letter-spacing: 0;
  text-transform: none;
}

#export {
  margin: 0 !important;
}

#messages + form[action="export"] {
  display: inline-block;
}

#importexport form, form[action="export"] {
  display: inline-block;
}

#addressbook.headline h3 {
  padding-right: 44px;
}

#addressbook.headline {
  position: relative;
}

#addressbook input#exporthosts {
  margin-bottom: -2px;
  padding: 0 !important;
  width: 28px;
  height: 28px;
  min-width: 0 !important;
  display: inline-block;
  position: absolute;
  right: 11px;
  top: calc(50% - 19px);
  font-size: 0 !important;
  background: url(/themes/console/images/info/arrow_down.png) center center no-repeat, linear-gradient(to bottom, #010, #000) !important;
  background-size: 16px 16px, 100% 100% !important;
}

form[action="export"]::after {
  margin-bottom: -2px;
  width: 0;
  height: 20px;
  display: inline-block;
  content: "";
}

#export {
  padding-top: 8px;
  padding-left: 2px;
  width: 38px;
  display: inline-block;
  position: absolute;
  right: -5px;
  top: 0;
  overflow: hidden;
  border-left: 1px solid #242;
}

#activefilter, .selected {
  font-weight: bold;
  color: #999;
  box-shadow: inset 0 0 0 1px #000, inset 2px 2px 2px rgba(0,0,0,.9) !important;
}

#activefilter {
  box-shadow: 0 0 0 1px #030, 0 0 2px 1px rgba(0,0,0,.8), inset 0 0 0 1px #000, inset 3px 3px 3px rgba(0,0,0,.9) !important;
}

.active {
  color: #ff6;
}

#prev, #next, #current {
  font-size: 11pt;
  text-shadow: none;
}

#showing {
  margin-left: 6px;
}

#paginate {
  margin: -4px 2px 0 0;
  position: relative;
  overflow: hidden;
  font-size: 0;
  text-align: center;
  border: 1px solid #252;
  background: linear-gradient(to bottom, #020 50%, #000 50%);
}

#prev a, #next a, #current {
  box-shadow: inset 0 0 0 1px #000 !important;
}

#current {
  padding: 3px 10px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 11pt !important;
  color: #ee9;
  border-left: 1px solid #252;
  border-right: 1px solid #252;
}

#prev, #next {
  margin-top: -1px;
  position: relative;
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
}

#prev.inactive, #next.inactive {
  padding: 10px;
  border: none;
}

#prev a, #next a {
  margin: 0;
  padding: 10px;
  font-size: 0 !important;
}

#prev::after, #next::after {
  height: 0;
  width: 0;
  position: absolute;
  top: calc(50% - 5px);
  right: calc(50% - 3px);
  border-width: 6px;
  border-style: solid;
  border-color: transparent #252 transparent transparent;
  content: "";
  pointer-events: none;
}

#prev.inactive::after, #next.inactive::after {
  opacity: .6;
}

#next::after {
  left: calc(50% - 3px);
  right: 0;
  border-color: transparent transparent transparent #252;
}

#prev:not(.inactive):hover::after, #prev:not(.inactive) a:focus::after {
  border-color: transparent #f60 transparent transparent;
}

#next:not(.inactive):hover::after, #next:not(.inactive) a:focus::after {
  border-color: transparent transparent transparent #f60;
}

#filtered, #results {
  font-size: 10pt;
}

@media screen and (max-width: 1200px) {
  #filtered, #results {
    font-size: 9.5pt;
  }

  #export {
    padding-top: 13px;
    padding-left: 7px;
    right: -10px;
  }

  form[action="export"]::after {
    height: 19px;
  }

  #addressbook input#exporthosts {
    margin-top: 4px !important;
  }

  #paginate {
    margin-top: -3px;
  }

  #prev, #next, #current {
    font-size: 10pt;
  }

  .iframed #prev a, .iframed #next a {
    padding: 11px 10px !important;
  }

  .iframed #prev::after, .iframed #next::after {
    top: calc(50% - 5px);
  }

  #prev.inactive::after, #next.inactive::after {
    top: calc(50% - 6px);
  }

  #current {
    padding: 2px 10px;
    display: inline-block;
    font-size: 10pt;
  }
}