<div lang="en">

<ul class="links">

<li><b>Starting Up</b><br>
If you've just started I2P, the number of <i>Active Peers</i> indicated under the <i>Peers</i> section on the sidebar should start to grow over the next few minutes, and you'll also see a <i>Local Destination</i> named <i>Shared Clients</i> listed under the <i>Service Tunnels</i> section, and possibly other clients and servers depending on how I2P is configured. These <i>Local Destinations</i> provide connections to services on different <a href="/help/faq#portfaq" title="List of commonly used ports" class="consolelink">ports</a> to the I2P network, enabling BitTorrent, e-mail, the web proxy and other services to function. Your <a href="/netdb" class="consolelink">Network Database</a> indicates all locally known peers on the network. You can also monitor existing <a href="/peers" class="consolelink">peer connections</a>, review <a href="/profiles?f=1" class="consolelink">peer performance profiles</a>, and view active <a href="/tunnels" class="consolelink">tunnels</a> and their status.</li>

<li><b>Network Integration</b><br>
The first time you start I2P it may take a few minutes to bootstrap (integrate) you into the network and find additional peers to optimize your integration, so please be patient. Once green stars are indicated next to your <i>Local Destinations</i> under <i>Service Tunnels</i> on the sidebar, there is a variety of things you can do with I2P, and below we introduce you to some of them.</li>

<li><b>Network Status </b><br>
Once I2P has had time to test your network connectivity, the Network Status indicator on the sidebar will ideally indicate "OK". If the status indicates "Firewalled", I2P will still function although network performance will not be optimal, and your ability to contribute bandwidth to the network will be impeded. For optimal performance, please consider opening your <a href="/confignet#udpconfig" class="consolelink">external I2P port</a> on your firewall and/or router. More information on the status messages is available on the <a href="/help/ui#reachabilityhelp" class="consolelink">User Interface help page</a>.</li>

</ul>

<h3>Services on I2P</h3>

<ul class="links twocol">

<li><b>Invisible Internet &amp; Public Web Browsing</b><br>
On I2P you can access I2P-hosted websites ("eepsites") or browse the normal web anonymously via I2P's built-in web proxy (outproxy). <a href="https://geti2p.net/en/about/browser-config" class="sitelink external" target="_blank">Configure your browser</a> to use the HTTP proxy at <code>127.0.0.1 port 4444</code>, then browse to a hidden service website or a normal, unencrypted <code>http://</code> address. To disable or change outproxy access to the normal internet, remove or modify the outproxy entry for <code>false.i2p</code> under the <i>Outproxies</i> section on the <a href="/i2ptunnel/edit?tunnel=0" target="_blank" class="consolelink">edit page</a> of the HTTP Proxy client tunnel in the <a href="/i2ptunnelmgr" class="consolelink">Tunnel Manager</a>.</li>

<li><b>Anonymous E-Mail</b><br>
Postman's I2P-based mail system can be accessed either via <a href="/webmail" class="consolelink">I2P's built-in mail client</a> (Susimail) or any standard mail client. A mail gateway allows mail to be received from normal internet addresses; your <code>@mail.i2p</code> address is also contactable via <code>@i2pmail.org</code>. For an account, visit <a href="http://hq.postman.i2p/" class="sitelink" target="_blank">hq.postman.i2p</a>.</li>

<li><b>Anonymous File Transfer</b><br>
<a href="/torrents" class="consolelink">I2PSnark</a> is integrated into I2P, providing anonymous, encrypted BitTorrent transfers. Alternatively, there's <a href="https://wiki.biglybt.com/w/I2P" class="sitelink external" target="_blank">BiglyBT</a> (the successor to Azureus/Vuze), a BitTorrent client that supports torrenting over I2P, and <a href="https://github.com/majestrate/XD" class="sitelink external" target="_blank">XD</a>, an I2P-only BitTorrent client written in go. Also available is <a href="http://muwire.i2p/" class="sitelink" target="_blank">muWire</a>, a Limewire-inspired filesharing app coded in Java. Additional services include browser-based file hosting such as <a href="http://fs.i2p/" class="sitelink" target="_blank">fs.i2p</a> and <a href="http://dropbox.i2p/" class="sitelink" target="_blank">dropbox.i2p</a>.</li>

<li><b>Anonymous Chat</b><br>
Start your IRC client (e.g. <a href="https://hexchat.github.io/" class="sitelink external" target="_blank">HexChat</a>, <a href="https://smuxi.im/" class="sitelink external" target="_blank">Smuxi</a>, <a href="http://stats.i2p/i2p/plugins/" class="sitelink" target="_blank">the I2P jIRCii plugin</a>) and connect to the <a href="irc://127.0.0.1:6668/i2p" class="chatlink">server</a> at <code>127.0.0.1 port 6668</code>. You don't need to configure a proxy in your IRC client; I2P provides you with a local IRC tunnel (configured in your IRC client as an IRC server or remote host). Once you're there, <code>#i2p</code>, <code>#i2p-dev</code>, and <code>#i2p-chat</code> are just a few of the available channels you may wish to join. There's also an I2P-based instant messenger application, available on <a href="https://vituperative.github.io/i2pchat/" class="sitelink external" target="_blank">Github</a>.</li>

<li><b>Anonymous Encrypted Web Hosting</b><br>
I2P comes with a webserver for hosting your own website on the I2P network: a <a href="https://www.eclipse.org/jetty/" class="sitelink external" target="_blank">Jetty</a> instance listening on <a href="http://127.0.0.1:7658/" class="consolelink" target="_blank">http://127.0.0.1:7658/</a>. After starting the pre-configured <a href="/i2ptunnelmgr" class="consolelink" target="_blank">I2P Webserver Tunnel</a>, your site will be visible (but not discoverable) to others. Instructions for setting up your site and registering an .i2p domain are provided in the <a href="http://127.0.0.1:7658/help/webhosting" class="consolelink">help section</a>.</li>

<li><a name="plugins"></a><b>Plugins for I2P</b><br>
Visit <a href="http://stats.i2p/i2p/plugins/" class="sitelink" target="_blank">zzz's plugins page</a> for direct download links for several plugins. If you're a developer, a language-agnostic <a href="http://i2p-projekt.i2p/plugins.html" class="sitelink" target="_blank">framework</a> for writing your own plugins is provided.</li>

</ul>

<h3 id="eepsites">Sites of Interest</h3>

<ul class="links twocol">

<li><b>Invisible Internet Project (I2P) Official Website</b><br>
<a href="http://i2p-projekt.i2p" class="sitelink" target="_blank">i2p-projekt.i2p</a> Secure and anonymous connection to <a href="https://geti2p.net/en/" class="sitelink external" target="_blank">geti2p.net</a>. If you want to know more about how I2P works or how you can participate, this is your first port of call!</li>

<li><b>I2P Community Forums</b><br>
<a href="http://i2pforum.i2p/" class="sitelink" target="_blank">i2pforum.i2p</a> Community forum where problems and ideas relating to I2P and associated topics are discussed. There's also <a href="http://zzz.i2p/" class="sitelink" target="_blank">zzz.i2p</a> for development related discussions, and <a href="http://def3.i2p/" class="sitelink" target="_blank">Dancing Elephants</a> for a general darknet-related forum. More forums may be found in your <a href="/susidns/addressbook?search=forum" class="consolelink" target="_blank">addressbook</a> once you have configured <a href="/help/faq#addressbooksubs" class="consolelink">additional subscriptions</a>.</li>

<li><b>I2P Planet</b><br>
<a href="http://planet.i2p/" class="sitelink" target="_blank">planet.i2p</a> An RSS aggregator site that takes news and events from around I2P and publishes them all in one place.</li>

<li><b>I2P Wiki</b><br>
<a href="http://wiki.i2p-projekt.i2p/" class="sitelink" target="_blank">wiki.i2p-projekt.i2p</a> An open wiki that anyone can edit with information about I2P, help for beginners, and additional links into the network.</li>

<li><b>I2P Network Health</b><br>
<a href="http://stats.i2p/cgi-bin/dashboard.cgi" class="sitelink" target="_blank">stats.i2p</a> Check out various aspects of network performance with this I2P network monitoring site. Additionally, <a href="http://i2pmetrics.i2p/" class="sitelink" target="_blank">i2pmetrics.i2p</a> provides various visual data points on the network (requires javascript).</li>

<li><b>I2P Anonymous Pastebin</b><br>
<a href="http://paste.r4sas.i2p/" class="sitelink" target="_blank">paste.r4sas.i2p</a> provides a javascript-based, encrypted pastebin services enabling text and text-based code sharing over I2P.

<li><b>Discover I2P</b><br>
There are many more sites on I2P, not least several that track active eepsites including <a href="http://identiguy.i2p/" class="sitelink" target="_blank">Identiguy</a>, <a href="http://inr.i2p/browse/" class="sitelink" target="_blank">I2P Name Registry</a> &amp; <a href="http://notbob.i2p/" class="sitelink" target="_blank">notbob.i2p</a>, so don't be afraid to explore!</li>

</ul>

<h3 id="trouble">Information for Developers &amp; Contributors</h3>

<ul class="links">

<li><b>Reporting Bugs</b><br>
To report a bug, please file a ticket on <a href="http://trac.i2p2.i2p/" class="sitelink" target="_blank">trac.i2p2.i2p</a>. For developer-related discussions, please visit <a href="http://zzz.i2p/" class="sitelink" target="_blank">zzz's developer forums</a> or the <a href="irc://127.0.0.1:6668/i2p-dev" class="chatlink">developer channel</a> (#i2p-dev) on I2P's IRC network.</li>

<li><b>Developing on I2P</b><br>
If you're a developer you might consider writing your own <a href="http://i2p-projekt.i2p/applications.html" class="sitelink" target="_blank">I2P applications</a> or enhancing the security of your application by leveraging the I2P network. Both <a href="https://wikipedia.org/wiki/User_Datagram_Protocol" class="sitelink external" target="_blank">UDP</a> and <a href="https://wikipedia.org/wiki/Transmission_Control_Protocol" class="sitelink external" target="_blank">TCP</a> protocols are <a href="http://i2p-projekt.i2p/techintro.html#op.transport" class="sitelink" target="_blank">provisioned</a>, and <a href="http://i2p-projekt.i2p/streaming.html" class="sitelink" target="_blank">realtime streaming</a> is also possible. We also provide full access to the <a href="http://docs.i2p-projekt.de/javadoc/" class="sitelink" target="_blank">Java API</a>, and core I2P libraries are hosted on the <a href="https://mvnrepository.com/artifact/net.i2p" class="sitelink external" target="_blank">Apache Maven repository</a>. Developers can browse the source at <a href="https://github.com/i2p/i2p.i2p" class="sitelink external" target="_blank">Github</a> (I2P) or <a href="https://gitlab.com/i2pplus/I2P.Plus" class="sitelink external" target="_blank">Gitlab</a> (I2P+), and monitor the current build status via the <a href="https://travis-ci.org/i2p/i2p.i2p" class="sitelink external" target="_blank">Travis</a> continuous integration platform (I2P) or via <a href="https://gitlab.com/i2pplus/I2P.Plus/pipelines" class="sitelink external" target="_blank">Gitlab</a> (I2P+). A <a href="https://wikipedia.org/wiki/Java_SDK" class="sitelink external" target="_blank">Java SDK</a> and <a href="http://ant.apache.org/" class="sitelink external" target="_blank">Apache Ant</a> are required to build from source.</li>

</ul>

<ul class="links twocol">

<li><b>Get Involved!</b><br>
I2P is developed and maintained mostly through unfunded, voluntary participation by community members. More information about how you can participate is available on <a href="http://i2p-projekt.i2p/getinvolved.html" class="sitelink" target="_blank">the volunteers page</a> on the official website.</li>

<li><b>I2P+</b><br>
For more information about I2P+, please visit <a href="http://skank.i2p/" class="sitelink" target="_blank">skank.i2p</a> or <a href="https://i2pplus.com/" class="sitelink external" target="_blank">i2pplus.com</a>, or join the channel <a href="irc://127.0.0.1:6668/saltR" class="chatlink">#saltR</a> on the I2P IRC network. Patches for I2P+ are welcome; please submit pull requests via <a href="https://gitlab.com/i2pplus/I2P.Plus/" class="sitelink external" target="_blank">Gitlab</a>.</li>

</ul>

<div class="topness"><a href="#top">[Return to Top]</a></div>
<div class="footnote"><hr>Document updated: August 2020</div>
</div>
