/* disable snark's collapsible panels and make section headings inert */

input#toggle_addtorrent:not(checked) + label + hr + table, input#toggle_createtorrent:not(checked) + label + hr + table,
input#toggle_addtorrent:checked + label + hr + table, input#toggle_createtorrent:checked + label + hr + table,
input#toggle_createtorrent:checked + label + hr + table, input#toggle_createtorrent:checked + label + hr + table + table,
input#toggle_createtorrent:not(:checked) + label + hr + table, input#toggle_createtorrent:not(:checked) + label + hr + table + table {
  display: table !important;
}

.mainsection[id] table {
  display: table !important;
}

.mainsection[id] table:first-child {
  margin-top: 10px !important;
}

.mainsection[id] hr {
  margin-bottom: 7px !important;
}

.toggleview, .toggleview:hover, .toggleview:focus, .toggleview:active {
  cursor: default !important;
  border: 1px solid #212;
  border-bottom: 1px solid #101;
  border-top: none;
  background: linear-gradient(to bottom, #656, #323 51%, #202 51%, #101) !important;
  box-shadow: inset 0 0 1px #838 !important;
  filter: drop-shadow(0 1px 1px rgba(17,0,17,0.6)) !important;
}

.iframed .toggleview, .iframed .toggleview:hover, .iframed .toggleview:focus, .iframed .toggleview:active {
  border: 1px solid #878;
  border-bottom: 1px solid #767;
  border-top: none;
  box-shadow: inset 0 0 1px #535 !important;
  filter: drop-shadow(0 1px 2px #101) !important;
}

.toggleview img, .toggleview img:active, .toggleview:hover img,
.toggleview:focus img, .toggleview img:active, .toggleview:active img,
.mainsection[id] .toggleview img, .mainsection[id] .toggleview img:active, .mainsection[id]:hover .toggleview img,
.mainsection[id] .toggleview:focus img, .mainsection[id] .toggleview img:active, .mainsection[id] .toggleview:active img,
input:not(:checked) + .toggleview > img, #snarkCommentSection input:not(:checked) + .toggleview > img {
  background: linear-gradient(to bottom, #767 50%, #323 50%, #212) !important;
  mix-blend-mode: normal !important;
  transform: none !important;
  filter: none !important;
  box-shadow: none !important;
}

.addtorrentsection:hover table, .newtorrentsection:hover table:not(#trackerselect),
.configsection .snarkConfigTitle, .toggleview {
  will-change: auto !important;
}

.addtorrentsection table, .newtorrentsection table:not(#trackerselect) {
  animation: none !important;
}

.toggle_input {
  display: none !important;
}