@media screen and (min-width: 0) and (max-width: 4000px) {
* {
  font-weight: normal !important;
  font-family: "Noto Sans", "Droid Sans", "Roboto Sans", Ubuntu, "Segoe UI", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif !important;
  line-height: 120% !important;
}

.snarkNav, #pagenav {
  font-weight: bold !important;
}

.iframed .snarkNav:link {
  padding-top: 4px !important;
}

.snarkNav.nav_main:link {
  background-size: 17px auto, 100% 100% !important;
  padding-left: 31px !important;
}

.snarkMessages li::before {
  margin-right: 2px;
  background-size: 10px 10px;
}

.snarkTorrentAction input[type="image"], .snarkTorrents thead img {
  min-height: 13px !important;
}

.snarkAddInfo {
  font-size: 10pt !important;
}

.snarkAddInfo code, #pagenav, #trackerselect tr:first-child td, .clientid {
  font-size: 9.5pt !important;
  font-weight: normal !important;
}

.clientid {
  font-size: 8pt !important;
}

input[type], select, select option, td, td a, .snarkMessages li, .snarkMessages li a, textarea, input.r, input[name="nofilter_dataDir"],
.configsectionpanel, .configsectionpanel td, .snarkNewTorrent, .snarkNewTorrent td, .snarkAddInfo,
#configs td, .trackerconfig td {
  font-size: 10.5pt !important;
}

td.snarkTorrentStatus b {
  line-height: 1 !important;
  font-size: 9.5pt !important;
  font-style: normal !important;
}

th.snarkTorrentDownloaded, th.snarkTorrentUploaded, th.snarkTorrentRateDown, th.snarkTorrentRateUp,
td.snarkTorrentDownloaded, td.snarkTorrentUploaded, td.snarkTorrentRateDown, td.snarkTorrentRateUp, .snarkTorrentName a:link {
  font-size: 10pt !important;
}

th.snarkTorrentDownloaded, th.snarkTorrentUploaded, th.snarkTorrentRateDown, th.snarkTorrentRateUp {
  font-weight: bold !important;
}

input[type], select, a.control {
  line-height: 130% !important;
}

select {
  padding-top: 4px;
  padding-bottom: 4px;
}

a.control, input[type="submit"], input.accept {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  text-transform: uppercase !important;
  letter-spacing: 0.05em;
}

a.control, input[type="submit"], input.accept, th {
  font-weight: normal !important;
  font-size: 12pt !important;
}

.configsectionpanel .snarkConfigTitle, .configsectionpanel .snarkConfigTitle:hover, .configsectionpanel .snarkConfigTitle:active {
  padding-top: 8px;
  font-size: 14pt !important;
  text-transform: uppercase !important;
  font-variant: normal !important;
}

.configsectionpanel .snarkConfigTitle img {
  margin-top: -2px !important;
  display: inline-block;
  height: 24px;
  width: 24px;
  mix-blend-mode: hard-light;
}

.snarkTorrentInfo th, .snarkDirInfo th, #totals, .snarkCommentInfo th, #configs th {
  font-size: 11pt !important;
}

#pagecount {
  padding-top: 3px;
  padding-bottom: 4px;
  font-weight: bold !important;
}

.snarkTorrentUploaded {
  text-align: center !important;
  padding-right: 10px !important;
}

.percentBarText {
  padding: 0 0 1px;
}

.percentBarComplete {
  padding: 2px 0 3px;
}

.snarkTorrents tt {
  letter-spacing: 0.2em !important;
  font-weight: bold !important;
}

.snarkTorrents td tt {
  padding: 0 3px !important;
  min-width: 38px;
  text-align: center;
  font-size: 8.5pt !important;
}

#configs td {
  line-height: 200% !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

#embed, #fullscreen {
  margin: -6px -4px -28px !important;
  padding: 8px 9px 7px 10px !important;
}

#embed::after {
  height: 14px !important;
}

.knowntracker a {
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
}

.optionlist {
  columns: 500px auto;
  column-gap: 5px;
}

.configOption::after {
  content: "";
  display: inline-block;
  height: 40px;
  vertical-align: middle;
}

#configs td b {
  padding-right: 8px;
  min-width: 185px !important;
  letter-spacing: 0.08em !important;
}

#configs input[name="nofilter_dataDir"], input[name="i2cpOpts"], input[name="nofilter_commentsName"] {
  width: calc(100% - 205px) !important;
}
}

@media screen and (max-width: 800px) {
.snarkTorrentAction input[type="image"], .snarkTorrents thead img {
  min-height: 10px !important;
}
}

@media screen and (max-width: 1400px) {
.iframed .snarkTorrents td.snarkTorrentName a {
  max-width: 400px !important;
  display: inline-block; !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
}