/* I2P TunnelManager theme: "Camo". Aka "dark". As in ops. */
/* Author: dr|z3d */

@import url(/themes/fonts/DroidSans.css);
@import url(optbox.css);

html {
  min-height: 100%;
  scrollbar-color: rgba(8,48,8,.8) #000800;
  scrollbar-color: rgba(16,72,16,.8) #000800;
}

body {
  margin: 0 8px 12px;
  padding: 0;
  text-align: center;
  font-family: Droid Sans, Open Sans, Noto Sans, Ubuntu, Segoe UI, Bitstream Vera Sans, DejaVu Sans, Verdana, Lucida Grande, Helvetica, sans-serif;
  background: repeating-linear-gradient(to bottom, rgba(0,0,0,.9) 1px, rgba(0,8,0,.5) 2px, rgba(0,8,0,.5) 3px), url(images/camotile2.png) top left scroll #010;
  color: #ee9;
  font-size: 9pt;
}

body.iframed {
  background: none !important;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

::selection {
  background: #ff0 !important;
  color: black;
}

::-moz-selection {
  background: #ff0 !important;
  color: black;
}

h2, h3, th, .buttons, .newTunnel, .control, label, .infohelp, .infowarn, .nowrap, b, #throttler td {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.selectAll {
  -moz-user-select: all;
  -webkit-user-select: all;
  user-select: all;
}

.selectAll:hover {
  background: #020;
}

* {
  outline: none;
}

* {
  scrollbar-color: rgba(16,48,16,.4) rgba(0,0,0,0);
  transition: ease scrollbar-color .5s;
}

*:hover {
  scrollbar-color: rgba(24,80,24,.8) rgba(0,0,0,.9);
  transition: ease scrollbar-color .2s;
}

div {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:link, a:visited {
  color: #494;
  outline: none;
}

a:hover, a:focus {
  color: #f60;
}

a:active {
  color: #f90;
}

.accesskey {
  display: none !important;
  text-decoration: underline;
}

form {
  margin: 0;
}

br {
  clear: left;
}

.unbold {
  font-weight: normal;
}

.statusNotRunning {
  color: #d00;
  background: url(/themes/console/images/info/tunnelStopped.png);
}

.statusRunning {
  color: #0b0;
  background: url(/themes/console/images/info/tunnelRunning.png);
}

.statusStarting {
  color: #393;
  background: url(/themes/console/images/info/tunnelStarting.png);
}

.statusStandby {
  color: #d30;
  background: url(/themes/console/images/info/tunnelStandby.png);
}

div[class^="status"] {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 16px;
  font-size: 0 !important;
  text-align: center;
  background-size: auto 16px;
  background-position: center center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1500px) {
div[class^="status"] {
  height: 18px;
  background-size: auto 18px !important;
}
}

hr {
  display: none;
}

#clientHost {
  width: 300px;
}

#clientPort {
  width: 100px;
}

.panel {
  margin: 8px auto;
  padding: 5px 3px 5px 1px !important;
  width: calc(100% - 14px);
  min-width: 660px;
  max-width: 1800px;
  overflow: hidden;
  text-align: left;
  color: #ee9;
  background: none;
}

.panel:first-child {
  margin-top: 0;
}

.panel:last-child {
  margin-bottom: 5px;
}

.panel#clients {
  margin-top: -23px !important;
}

.iframed .panel#clients {
  margin-top: -18px !important;
}

.iframed .panel.iframed {
  margin: 0 auto -8px !important;
}

.iframed .panel {
  margin: 14px auto -10px !important;
  width: 100%;
}

.iframed .panel#clients, #tunnelEditPage .panel, #tunnelRegistration .panel, #tunnelWizardPage .panel, #tunnelSSL .panel {
  margin-bottom: 6px !important;
}

.iframed #messages, .iframed #messages, #tunnelEditPage .panel, #tunnelRegistration .panel, #tunnelWizardPage .panel, #tunnelSSL .panel {
  margin-top: -5px !important;
}

#globalTunnelControl {
  margin: -13px auto -13px;
}

.iframed #globalTunnelControl {
  margin: 3px auto -26px !important;
}

.iframed #messages + #globalTunnelControl {
  margin: 6px auto -26px !important;
}

#globalTunnelControl.iframed.panel:first-child ~ .panel#clients::after {
  content: "";
  display: block;
  height: 5px !important;
  width: 100%;
}

#serverTunnels {
  margin: -1px 0 8px;
}

h2, h3 {
  margin: 10px 0 -1px;
  padding: 8px 10px 8px 34px;
  border: 1px solid #242;
  font-size: 11pt;
  color: #ee9;
  text-transform: uppercase;
  letter-spacing: .08em;
  word-spacing: .1em;
  text-shadow: 0 1px 1px #000;
  box-shadow: inset 0 0 0 1px #000, inset 0 0 1px 1px #030;
  background: linear-gradient(to bottom, #1a261a 50%, #000 50%) !important;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, #000 50%), repeating-linear-gradient(to right, rgba(0,0,0,.5) 1px, rgba(0,0,0,.5) 2px, rgba(0,16,0,.5) 3px), linear-gradient(to bottom, #004000, #000 75%), url(/themes/console/dark/images/camotile2.png) top left !important;
}

/* title images */

#messages h2 {
  margin-top: 12px;
  background: url(/themes/console/images/svg/logs.svg) left 8px center no-repeat, linear-gradient(to bottom, #1a261a 50%, #000 50%) !important;
  background: url(/themes/console/images/svg/logs.svg) left 8px center no-repeat, repeating-linear-gradient(to right, rgba(0,0,0,.4) 1px, rgba(0,0,0,.4) 2px, rgba(0,32,0,.6) 3px), linear-gradient(to bottom, #001800, #000 75%) !important;
  background-size: 20px auto, 100% 100%, 100% 100% !important;
}

#globalTunnelControl h2 {
  background: url(/themes/console/images/svg/mouse.svg) left 8px center no-repeat, linear-gradient(to bottom, #1a261a 50%, #000 50%) !important;
  background: url(/themes/console/images/svg/mouse.svg) left 8px center no-repeat, repeating-linear-gradient(to right, rgba(0,0,0,.4) 1px, rgba(0,0,0,.4) 2px, rgba(0,32,0,.6) 3px), linear-gradient(to bottom, #001800, #000 75%) !important;
  background-size: 20px auto, 100% 100%, 100% 100% !important;
}

#servers h2 {
  background: url(/themes/console/images/svg/server.svg) left 8px center no-repeat, linear-gradient(to bottom, #1a261a 50%, #000 50%) !important;
  background: url(/themes/console/images/svg/server.svg) left 8px center no-repeat, repeating-linear-gradient(to right, rgba(0,0,0,.4) 1px, rgba(0,0,0,.4) 2px, rgba(0,32,0,.6) 3px), linear-gradient(to bottom, #001800, #000 75%) !important;
  background-size: 20px auto, 100% 100%, 100% 100% !important;
}

#clients h2 {
  background: url(/themes/console/images/svg/client.svg) left 8px center no-repeat, linear-gradient(to bottom, #1a261a 50%, #000 50%) !important;
  background: url(/themes/console/images/svg/client.svg) left 8px center no-repeat, repeating-linear-gradient(to right, rgba(0,0,0,.4) 1px, rgba(0,0,0,.4) 2px, rgba(0,32,0,.6) 3px), linear-gradient(to bottom, #001800, #000 75%) !important;
  background-size: 20px auto, 100% 100%, 100% 100% !important;
}

#clients h2:not(.iframed) {
  margin-top: 12px;
}

#tunnelEditPage h2, #tunnelEditPage h3, #registration h2, #registration h3 {
  background: url(/themes/console/images/svg/configure.svg) left 8px center no-repeat, linear-gradient(to bottom, #1a261a 50%, #000 50%) !important;
  background: url(/themes/console/images/svg/configure.svg) left 8px center no-repeat, repeating-linear-gradient(to right, rgba(0,0,0,.4) 1px, rgba(0,0,0,.4) 2px, rgba(0,32,0,.6) 3px), linear-gradient(to bottom, #001800, #000 75%) !important;
  background-size: 20px auto, 100% 100%, 100% 100% !important;
  background-blend-mode: normal, normal, exclusion, normal;
}

#wizardPanel h2, #ssl h2 {
  background: url(/themes/console/images/svg/wizard.svg) left 8px center no-repeat, linear-gradient(to bottom, #1a261a 50%, #000 50%) !important;
  background: url(/themes/console/images/svg/wizard.svg) left 8px center no-repeat, repeating-linear-gradient(to right, rgba(0,0,0,.4) 1px, rgba(0,0,0,.4) 2px, rgba(0,32,0,.6) 3px), linear-gradient(to bottom, #001800, #000 75%) !important;
  background-size: 20px auto, 100% 100%, 100% 100% !important;
  background-blend-mode: normal, normal, exclusion, normal;
}

/* end title images */

.iframed h2 {
  margin: 14px 0 -1px;
}

h3 {
  border-radius: 0;
  margin-top: 12px;
}

.iframed #globalTunnelControl h2 {
  margin-top: 6px;
}

.panel table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #242;
  margin: 0;
}

#serverTunnels tr:first-child, #clientTunnels tr:first-child {
  background: #000;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, #000 50%), repeating-linear-gradient(to right, rgba(0,0,0,.5) 1px, rgba(0,0,0,.5) 2px, rgba(0,16,0,.5) 3px), linear-gradient(to bottom, #002000, #000 75%);
  padding: 7px 5px;
}

#serverTunnels tr:first-child th, #clientTunnels tr:first-child th {
  background: none;
}

th {
  padding: 7px 10px;
  word-spacing: .1em;
  letter-spacing: .08em;
  text-align: left;
  text-transform: uppercase;
  font-size: 9pt;
  color: #ee9;
  border-top: 1px solid #242;
  border-bottom: 1px solid #242;
  background: #000;
  background: linear-gradient(to bottom, #001400, #000 75%);
}

th {
}

#tunnelListPage th {
  text-transform: none;
  letter-spacing: 0;
  word-spacing: 0;
}

td {
  border-top: 1px solid #242;
  vertical-align: middle;
  padding: 5px;
  font-size: 9pt;
}

td > input {
  margin-left: 0;
}

td > b {
  margin-right: 5px;
  display: inline-block;
  min-width: 30px;
}

td.infohelp {
  background: url(images/infohelp.png) 10px center no-repeat;
  background-size: 20px 20px;
  padding: 15px 10px 15px 38px !important;
}

.tunnelConfig td {
  width: 50%;
}

.tunnelConfig th:first-child, .tunnelConfig td:first-child {
  border-left: 1px solid #242;
}

.tunnelConfig th:last-child, .tunnelConfig td:last-child {
  border-right: 1px solid #242;
}

#clientTunnels tr, #serverTunnels tr, .tunnelConfig tr {
  background: rgba(0,4,0,.4);
}

.tunnelProperties {
  background: #000 !important;
  overflow: hidden;
  text-align: left;
  border: 1px solid #242;
}

#serverTunnels th:nth-child(n+2), #clientTunnels th:nth-child(n+2), .tunnelProperties td:nth-child(n+2) {
  text-align: center;
}

.tunnelProperties:hover, .tunnelProperties:hover + .tunnelInfo td,
.tunnelProperties:hover + .tunnelInfo + .tunnelInfo td,
.tunnelProperties:hover + .tunnelInfo + .tunnelInfo + .tunnelInfo td {
  background: #002000 !important;
  box-shadow: none !important;
}

.tunnelProperties + .tunnelInfo td {
  border-top: 1px solid #242 !important;
}

.tunnelInfo td {
  border-top: none;
  background: none;
  padding-top: 4px;
  padding-bottom: 4px;
}

.tunnelInfo .tunnelDestination, .tunnelInfo .tunnelSig {
  padding-top: 8px;
}

.tunnelInfo .tunnelDestinationEncrypted, .tunnelInfo .tunnelEncryption {
  padding-top: 0;
  padding-bottom: 8px;
}

.tunnelInfo b, .tunnelInfo .selectAll {
  display: inline-block;
  vertical-align: text-bottom;
}

.tunnelInfo .selectAll {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 900px) {
  .tunnelInfo .selectAll {
    max-width: 110px;
  }
}

@media screen and (min-width: 1500px) {
  .tunnelInfo .selectAll {
    max-width: none;
  }
}

.newTunnel {
  padding: 5px !important;
  text-align: right;
  border-top: 1px solid #242 !important;
  background: #fff;
}

.newTunnel select, .newTunnel input, .newTunnel .control {
  margin: 2px !important;
}

.newtunnel form {
  width: 100%;
  text-align: right;
}

.tunnelName {
  width: 15%;
  min-width: 150px;
  white-space: nowrap;
}

.tunnelName a {
  padding: 3px 3px 3px 22px !important;
  font-weight: bold;
  background: url(/themes/susidns/dark/images/configure.png) 4px 40% no-repeat;
  background-size: 14px 14px !important;
}

.tunnelName a:hover, .tunnelName a:focus {
  background: url(/themes/susidns/dark/images/configure_hover.png) 4px 40% no-repeat;
}

.tunnelName a:active {
  color: #f60 !important;
  opacity: .65;
}

@media screen and (max-width: 1200px) {
.tunnelName a {
  background-position: 5px center !important;
  background-size: 13px 13px !important;
}
}

.tunnelType {
  width: 25%;
}

.tunnelPreview {
  text-align: left;
}

.tunnelPreview, .tunnelPort {
  width: 15%;
  text-align: center;
}

.tunnelLocation, .tunnelInterface {
  width: 20%;
}

.tunnelLocation font[color="red"] {
  margin-left: 3px;
}

.tunnelStatus {
  text-align: center;
  width: 10%;
  min-width: 48px;
}

.tunnelControl {
  width: 5%;
  text-align: right;
  white-space: nowrap;
}

th.tunnelControl {
  text-align: center;
}

textarea {
  border: 1px solid #252;
  background: #000;
  margin-left: 4px;
  margin-right: 4px;
  font: 9pt "Droid Sans Mono", "Noto Mono", "Lucida Console", "DejaVu Sans Mono", monospace;
  resize: none;
  box-sizing: border-box;
  border-radius: 2px;
}

textarea:focus {
  color: #ee9;
  background: #000 !important;
  filter: drop-shadow(0 0 1px #880);
  transition: ease filter .3s 0s;
  box-shadow: inset 0 0 1px #880;
  outline: none;
}

textarea#statusMessages, textarea#statusMessages:active, textarea#statusMessages:focus {
  margin: 0;
  padding: 2px 4px 2px 8px;
  width: 100%;
  height: 80px;
  color: #69f;
  font-family: "Droid Sans Mono", "Noto Mono", Consolas, "Lucida Console", "DejaVu Sans Mono", monospace;
  font-size: 8.5pt;
  font-weight: bold;
  border: 0;
  border-radius: 0;
  box-shadow: inset 0 0 3px 3px #000 !important;
  background: #000;
  background: linear-gradient(to bottom, #000 0%, #010 100%) !important;
}

_:-ms-lang(x), textarea#statusMessages, textarea#statusMessages:active, textarea#statusMessages:focus {
  box-shadow: none !important;
}

.freetext {
  width: 150px;
  border: 1px solid #252;
  padding: 4px;
  font: 8.5pt "Droid Sans Mono", "Noto Mono", "Lucida Console", "DejaVu Sans Mono", monospace;
  background: #fff;
  color: #333;
  border-radius: 1px;
  box-shadow: inset 2px 2px 1px #ccc;
}

.freetext.tunnelDescriptionText, .freetext.tunnelName, #privKeyFile, #websiteName, .proxyList, #localDest {
  width: calc(100% - 10px) !important;
}

.freetext:focus {
  box-shadow: 0 0 1px #f60;
  color: #111;
  outline: none;
}

.freetext[readonly], .freetext[readonly]:focus {
  background: #000 !important;
  box-shadow: inset 2px 2px 1px #000;
  color: #885;
  cursor: default;
  border: 1px solid #252 !important;
  opacity: .8;
}

input[type="hidden"], input.default {
  display: none;
}

input, select, button, a {
  font-family: Droid Sans, Open Sans, Noto Sans, Ubuntu, Segoe UI, Bitstream Vera Sans, DejaVu Sans, Verdana, Lucida Grande, Helvetica, sans-serif;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 9pt;
  color: #ee9;
  resize: none;
  cursor: pointer;
}

input {
  background-color: #020;
  color: #ee9;
  margin: 0 2px 0 2px;
  font-family: Droid Sans, Open Sans, Noto Sans, Ubuntu, Segoe UI, Bitstream Vera Sans, DejaVu Sans, Verdana, Lucida Grande, Helvetica, sans-serif;
  border: 1px solid #252;
  text-decoration: none;
}

input[type=submit]::-moz-focus-inner, input[type=reset]::-moz-focus-inner, button::-moz-focus-inner {
  border: none;
  outline: none;
}

input[type="file"] {
  background: none;
  border: none;
}

.editDisabled input[type="radio"], .editDisabled label {
  cursor: not-allowed !important;
}

.editDisabled input[type="radio"]:checked {
  opacity: 1 !important;
}

.editDisabled input[type="radio"]:not(:checked) {
  opacity: .4;
}

.editDisabled .optbox:checked + span {
  font-weight: bold;
}

.editDisabled .optbox:not(:checked), .editDisabled .optbox:not(:checked) + span {
  display: none;
}

.editDisabled .multiOption {
  margin: 0;
  display: inline;
}

label {
  cursor: pointer;
}

input[type=password] {
  cursor: text;
}

input[type=text], input[type=password], textarea, textarea[readonly="readonly"]:focus  {
  padding: 6px 8px;
  color: #bb7;
  font-weight: bold;
  box-shadow: inset 0 0 0 1px #000, inset 4px 4px 4px #000, 0 0 0 1px #000;
  background: #010;
  background: linear-gradient(to bottom, #001800, #001000);
  filter: none;
}

textarea[readonly="readonly"]:focus {
  box-shadow: inset 0 0 0 1px #880;
}

input[type=text]:focus, input[type=password]:focus {
  color: #ee9;
  background: #000;
  filter: drop-shadow(0 0 1px #880);
  transition: ease filter .3s 0s;
}

input[readonly="readonly"]:focus {
  filter: none;
  background: linear-gradient(to bottom, #000 0%, #010 100%) !important;
}

a.control, input.control {
  white-space: nowrap;
  vertical-align: middle;
}

.control {
  margin: 2px !important;
  padding: 7px 12px 7px !important;
  min-width: 92px !important;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 8.5pt;
  font-weight: bold;
  text-align: center;
  font-style: normal;
  color: #494 !important;
  border-radius: 2px;
  text-decoration: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 1500px) {
.control {
  padding: 8px 12px 8px !important;
}
}

.control, .control:link, .control:visited {
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #000;
  box-sizing: border-box;
}

.control:link {
  color: #494 !important;
}

.control:visited {
  text-decoration: none;
  color: #494 !important;
}

.control:hover, .control:focus, select:hover, select:focus {
  text-decoration: none;
  color: #f60 !important;
  border: 1px solid #f60 !important;
  box-shadow: inset 0 0 0 1px #000, inset 0 0 2px 1px rgba(255,86,0,.8), inset 0 0 0 3px #000 !important;
  background: #000;
}

.control:hover, .control:focus {
  background: radial-gradient(at center bottom, rgba(96, 48, 0, .4) 0, rgba(0, 0, 0, 0) 80%), #000;
}

.control:active {
  text-decoration: none;
  color: #ee9 !important;
  box-shadow: inset 0 0 0 1px #000, inset 3px 3px 3px 2px #310 !important;
  background: #f60 !important;
}

a.control {
  display: inline-block;
}

.control.start, .control.stop {
  display: none !important;
  float: left;
}

select {
  padding: 7px 24px 7px 8px !important;
  min-width: 120px;
  font-family: Droid Sans, Open Sans, Noto Sans, Ubuntu, Segoe UI, Bitstream Vera Sans, DejaVu Sans, Verdana, Lucida Grande, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 8.5pt !important;
  color: #494;
  border-radius: 2px;
  background: #000 url(images/dropdown.svg) right 10px center no-repeat !important;
  background: #000 url(images/dropdown.svg) right 10px center no-repeat, linear-gradient(to bottom, #001000, #000 5%, #000 95%, #001000) !important;
  background-size: 10px auto, 100% 100% !important;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

@media screen and (min-width: 1500px) {
  select {
    padding: 8px 24px 8px 8px !important;
  }
}

select option { /* dropdown menu reverts to normal font-weight */
  font-weight: normal;
  font-size: 9.5pt;
}

select option:hover, select option:checked {
  box-shadow: inset 0 0 20px 20px #f60;
}

select:focus, select:hover {
  color: #f60;
  border: 1px solid #f60;
}

select:hover {
  box-shadow: inset 0 0 0 1px #000, inset 0 0 2px 1px rgba(255,86,0,.8), inset 0 0 0 3px #000;
}

select:hover, select:focus, select:active {
  background: #000 url(images/dropdown_hover.svg) right 10px center no-repeat !important;
  background-size: 10px auto !important;
}

select::-ms-expand {
  display: none;
}

input, select, button {
  font-size: 9pt;
  vertical-align: middle;
}

button, input[type=submit], input[type=reset], a.control, select {
  line-height: 120%;
  font-family: Droid Sans, Open Sans, Noto Sans, Ubuntu, Segoe UI, Bitstream Vera Sans, DejaVu Sans, Verdana, Lucida Grande, Helvetica, sans-serif;
  font-size: 8.5pt;
  font-weight: bold;
  border: 1px solid #000;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #151, inset 0 0 0 2px #000, inset 0 0 2px 2px #040, inset 0 0 0 3px #000, 0 0 0 1px rgba(0,16,0,.2) !important;
  background: linear-gradient(to bottom, #001000, #000 5%, #000 95%, #001000);
}

.buttons, .newTunnel {
  padding: 7px 5px !important;
  text-align: right !important;
  background: #000;
  background: linear-gradient(to bottom, #010, #000);
  background: linear-gradient(-135deg, #000, rgba(0,0,0,0) 40%), repeating-linear-gradient(to right, rgba(0,0,0,.5) 1px, rgba(0,0,0,.5) 2px, rgba(0,16,0,.5) 3px), linear-gradient(to bottom, #020, #000 75%);
}

.newTunnel, .newTunnel > *, .newTunnel form > * {
  vertical-align: middle;
}

.tunnelDescriptionLabel, .tunnelDestinationLabel {
  text-align: right;
  min-width: 150px;
  display: inline-block;
  margin-right: 3px;
  white-space: nowrap;
}

input {
  float: none;
  vertical-align: middle;
}

#hostField, #leasesetKey, #userAgents {
  width: 90% !important;
  margin: 0 !important;
  text-align: left !important;
}

#tunnelDepth, #tunnelVariance, #tunnelQuantity, #tunnelBackupQuantity,
#tunnelDepthOut, #tunnelVarianceOut, #tunnelQuantityOut, #tunnelBackupQuantityOut, #encryptMode {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

#tunnelDepth, #tunnelVariance, #tunnelQuantity, #tunnelBackupQuantity,
#tunnelDepthOut, #tunnelVarianceOut, #tunnelQuantityOut, #tunnelBackupQuantityOut,
#localDestination, #customOptions, #leasesetKey, #name, #description, textarea[name="accessList"] {
  width: 100% !important;
  margin: 0 !important;
  text-align: left !important;
}

#oldName {
  min-width: 280px;
  width: 30%;
}

select#profile, select#connectionProfile {
  margin: 5px !important;
}

select#connectionProfile, #targetDestination {
  width: calc(100% - 10px);
}

#customOptions, #userAgents {
  width: calc(100% - 10px) !important;
  width: 100% !important;
}

#localDestination, textarea[name="accessList"], #hostField {
  width: calc(100% - 5px) !important;
  width: 100% !important;
  margin: 3px 0 !important;
}

textarea[name="accessList"] {
  padding: 4px 8px;
  height: 32px !important;
}

textarea[name="accessList"]:focus {
  padding: 4px 8px;
  height: 80px !important;
}

textarea::placeholder, input::placeholder {
  font-style: italic;
}

textarea:focus::placeholder, input:focus::placeholder, #filter input:focus::placeholder {
  opacity: 0;
}

th .help {
  font-size: 0 !important;
}

th .help::after {
  margin: -1px -3px -1px 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url(images/helplink.svg) center center no-repeat;
  background-size: 16px 16px;
  content: "";
}

th .help:hover::after, th .help:focus::after {
  background: url(images/helplink_hover.svg) center center no-repeat;
  background-size: 16px 16px;
}

#filter {
  vertical-align: top;
}

#filter input::placeholder {
  color: #ee8;
  opacity: .4;
}

#localDestination {
  margin: 0 !important;
  height: 34px !important;
}

.multiOption {
  margin: 5px 10px 5px 0;
  display: inline-block;
}

.multiOption input {
  vertical-align: sub;
}

.multiOption#isServer {
  padding-left: 28px;
  background: url(/themes/console/images/svg/server.svg) 4px center no-repeat;
  background-size: 22px 22px;
}

.multiOption#isClient {
  padding-left: 28px;
  background: url(/themes/console/images/svg/client.svg) 4px center no-repeat;
  background-size: 22px 22px;
}

#throttler, #clientAuth {
  border: none !important;
}

#clientAuth {
  margin-bottom: -1px;
}

td#throttle, #clientAuthConfig {
  padding: 0;
}

#throttler th {
  padding-left: 20px;
}

#throttler td {
  width: 20%;
}

#throttler td:first-child {
  width: 20%;
  white-space: nowrap;
  text-align: right;
}

#throttler th:first-child, #throttler td:first-child,
#clientAuth th:first-child, #clientAuth td:first-child {
  border-left: none !important;
}

#throttler th:last-child, #throttler td:last-child,
#clientAuth th:last-child, #clientAuth td:last-child {
  border-right: none !important;
}

#throttler tr:first-child th, #clientAuth tr:first-child td {
  border-top: none;
}

td.blankColumn {
  width: 20% !important;
}

#throttler tr:nth-child(odd) {
  background: rgba(0,16,0,.7);
}

#throttler tr:nth-child(even) {
  background: rgba(0,8,0,.7);
}

#throttler input[type=text] {
  width: 80px;
}

table {
  background: #000 url(images/camotile2.png);
  background: linear-gradient(to bottom, rgba(0,0,0,.5),rgba(0,0,0,.7)), url(images/camotile2.png);
}

#tunnelMessages {
  padding: 0;
}

.required:not(old) {
  display: none;
}

input::-moz-placeholder {
  font-weight: bold;
  color: #f00;
  opacity: 1;
}

::-webkit-input-placeholder {
  font-weight: bold;
  color: #f00;
  opacity: 1;
}

input:focus::-moz-placeholder {
  opacity: 0;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
}

input.tunnelName, input.tunnelDescription, #userAgents {
  width: 80%;
  min-width: 280px;
  text-overflow: ellipsis;
}

#privKeyFile, #targetHost, .host {
  width: 30%;
  min-width: 250px;
}

.port, .quantity, .period {
  width: 70px;
}

@media screen and (max-width: 1100px) {
  .nowrap {
    margin-right: 10px !important;
  }

  .nowrap .port, .nowrap .quantity, .nowrap .period {
    width: 60px;
  }

  .nowrap .multiOption {
    margin-right: 3px !important;
  }
}

@media screen and (max-width: 1000px) {
  .nowrap .port, .nowrap .quantity, .nowrap .period {
    width: 40px;
  }
}

.username, .password {
  width: 200px;
}

.username {
  padding-left: 22px;
  background: url(/themes/console/images/buttons/user.png) 4px center no-repeat, linear-gradient(to bottom, #000 0%, #010 100%) !important;
}

.password {
  padding-left: 22px;
  background: url(/themes/console/images/buttons/password.png) 4px center no-repeat, linear-gradient(to bottom, #000 0%, #010 100%) !important;
}

.username:focus {
  background: #000 url(/themes/console/images/buttons/user.png) 4px center no-repeat !important;
}

.password:focus {
  background: #000 url(/themes/console/images/buttons/password.png) 4px center no-repeat !important;
}

#notReady, #down {
  margin: 53px auto 50px;
  padding: 30px;
  width: 400px;
  text-align: center;
  font-size: 11pt;
  font-weight: bold;
  box-shadow: inset 0 0 0 1px #000, inset 0 0 4px 4px rgba(0,0,0,.4), 0 0 0 1px #000, 0 0 0 2px #020, 0 0 0 6px #030, 0 0 0 8px #040;
  background: #020;
  background: repeating-linear-gradient(to bottom, #020 2px, #010 4px);
}

#down {
  padding: 20px;
  font-size: 0;
}

#down::after {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  background: url(/themes/console/images/svg/update.svg) center center no-repeat;
  background-size: 40px 40px;
  content: "";
  animation: linear spin 5s forwards infinite;
}

@keyframes spin {
  from {transform: rotate(-360deg)}
}

/* wizard specifics */

#wizardPanel {
  font-size: 10pt;
}

#wizardTable {
  padding: 0;
}

#wizardTunnelTypes td:first-child, #wizardSummary td:first-child {
  width: 10%;
  min-width: 150px;
  white-space: nowrap;
  text-align: right;
  font-weight: bold;
}

#wizardTunnelTypes td:last-child {
  padding: 10px 15px 10px 10px;
  text-align: justify;
}

#wizardTunnelTypes select {
  margin-left: 0 !important;
}

#wizardTunnelTypes, #wizardSummary {
  border: none;
  margin-top: -1px;
}

#wizardTunnelTypes tr:nth-child(even), #wizardSummary tr:nth-child(even) {
  background: #010;
}

#wizardTunnelTypes tr:nth-child(odd), #wizardSummary tr:nth-child(odd) {
  background: #000800;
}

#wizardTunnelTypes tr:last-child {
  background: #000;
}

#wizardPanel #name, #wizardPanel #description {
  width: 300px !important;
}

#wizardPanel p {
  margin: 0;
  padding: 5px;
  text-align: justify;
}

#wizardPanel p, #wizardPanel td {
  line-height: 140%;
}

#wizardPanel input::-moz-placeholder {
  font-weight: normal;
  color: #bb7;
}

#wizardPanel ::-webkit-input-placeholder {
  font-weight: normal;
  color: #bb7;
}

#wizardPanel .options {
  padding: 10px;
}

#wizardPanel .tag {
  margin-right: 3px;
  width: 10%;
  min-width: 150px;
  white-space: nowrap;
  display: inline-block;
  font-weight: bold;
  text-align: right;
}

#wizardPanel select {
  margin: 5px 0 !important;
  min-width: 160px;
}

#wizardPanel .infohelp p { /* wizard complete - advanced options info */
  margin: 0;
  padding: 0;
}

/* more space */

.tunnelConfig td, td {
  padding: 5px;
  border-top: 1px solid #1c3f1b;
}

input[type="checkbox"], input[type="radio"] {
  margin: 5px 3px 5px 5px;
}

.freetext, .tunnelConfig textarea, #customOptions, #userAgents, #hostField {
  margin: 5px !important;
  cursor: text;
}

.multiOption {
  margin: 5px 10px 5px 0;
}

#tunnelDepth, #tunnelVariance, #tunnelQuantity, #tunnelBackupQuantity, #tunnelDepthOut, #tunnelVarianceOut, #sigType, .clientKey, .clientName,
#tunnelQuantityOut, #tunnelBackupQuantityOut, #leasesetKey, #encryptMode, select#profile, input[name="nofilter_blindedPassword"] {
  margin: 5px !important;
  width: calc(100% - 10px) !important;
}

.tunnelConfig select, select#profile, select#connectionProfile {
  margin: 5px !important;
}

textarea[name="accessList"], #hostField, #localDestination, .authentication {
  width: calc(100% - 10px) !important;
  margin: 5px !important;
}

textarea[name="accessList"] {
  margin-top: 0 !important;
}

#customOptions, #userAgents, #leasesetKey, #filterDefinition {
  width: calc(100% - 10px) !important;
}

.tunnelConfig td > b {
  margin-left: 5px;
  min-width: 30px;
  display: inline-block;
}

.tunnelInfo {
  background: linear-gradient(to right, #000 50%, #010) !important;
  box-shadow: none !important;
}

_:-ms-lang(x), .tunnelDestination {
  border-bottom: none !important;
}

_:-ms-lang(x), .tunnelDescription {
  border-top: none !important;
}

_:-ms-lang(x), .tunnelProperties {
  border-bottom: 1px solid #010 !important;
}

.tunnelInfo b {
  color: #bb7;
}

/* end more space */

/* responsive layout */

@media screen and (max-width: 800px) {
.statusNotRunning, .statusRunning, .statusStarting, .statusStandby {
  background-size: auto 14px;
}

.port, .quantity, .period {
  width: 60px;
}

#clientHost, .host {
  width: 140px;
  min-width: 140px;
}
}

@media screen and (max-width: 1500px) {
h2, h3 {
  font-size: 11.5pt;
}
}

@media screen and (min-width: 1500px) {
body, td, a, button, input, .control, select, .freetext, textarea {
  font-size: 10pt !important;
}

h2, h3 {
  font-size: 12pt;
}

textarea#statusMessages, textarea#statusMessages:active, textarea#statusMessages:focus {
  font-size: 9pt !important;
}
}

/* end responsive layout */

/* TO DO: merge with main classes */

@supports not (-moz-appearance: none) { /* fixes chrome/blinkoverflow issue */
select {
  white-space: normal !important;
}
}

label {
  vertical-align: sub;
}

input[type=text] + label {
  white-space: nowrap;
  vertical-align: unset;
}

#targetPort {
  margin-right: 10px !important;
}

#privKeyFile {
  min-width: 200px;
  width: 200px;
  width: calc(100% - 54px);
}

.displayText, .displayText:empty:hover, .displayText:empty:focus {
  font-family: "Droid Sans Mono", "Noto Mono", "Lucida Console", "DejaVu Sans Mono", monospace;
  width: calc(100% - 10px);
  width: 290px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  margin: 5px;
  padding: 6px;
  -moz-user-select: all;
  -webkit-user-select: all;
  user-select: all;
  border: 1px solid #252;
  background: #000;
  background: linear-gradient(to bottom, #000 0%, #010 100%);
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #000;
}

.displayText:hover, .displayText:focus {
  overflow: auto;
  text-overflow: clip;
  margin: .5px 5px;
  padding: 3px;
  box-shadow: 0 0 1px #494;
  background: #000;
  color: #ff0;
  outline: none;
}

.displayText:empty, .displayText:empty:hover, .displayText:empty:focus {
  background: #000;
  box-shadow: inset 0 0 0 1px #000;
  color: #885;
  opacity: .8;
}

.displayText:empty::before {
  content: "";
  display: inline-block;
  min-height: 11px;
}

#registration .displayText {
  width: 500px;
}

#registration .infohelp {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

#registration input[type="file"] {
  margin-top: 5px;
  margin-bottom: 5px;
}

#registration td {
  padding: 8px;
}

#oldName, #altPrivKeyFile {
  width: 45% !important;
}

@media screen and (max-width: 800px) {
.displayText, .displayText:empty:hover, .displayText:empty:focus {
  width: 260px;
  font-size: 8pt;
}

#reachableBy {
  min-width: 0 !important;
}

.port {
  width: 50px !important;
}
}

@media screen and (min-width: 1000px) {
.displayText, .displayText:empty:hover, .displayText:empty:focus {
  width: 386px;
}

#registration .displayText {
  width: 600px;
}
}

@media screen and (min-width: 1500px) {
  th {
    font-size: 10pt;
  }

  th .help::after, th .help:hover::after, th .help:focus::after {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }

  .displayText, .displayText:empty:hover, .displayText:empty:focus {
    width: 552px;
  }

  #registration .displayText {
    width: 800px;
  }
}

#keyringManager {
  float: right;
  margin-right: 4px;
}

tr {
  box-shadow: inset 0 0 0 1px #000, inset 0 -1px 0 1px #000, inset -1px 0 0 1px #000, inset 0 0 1px 1px #030, inset 0 -1px 1px 1px #030, inset -1px 0 1px 1px #030;
}

tr.configerror {
  box-shadow: inset 0 0 0 1px #000, inset 0 -1px 0 1px #000, inset -1px 0 0 1px #000, inset 0 0 2px 1px #900, inset 0 -1px 2px 1px #900, inset -1px 0 2px 1px #900;
}

.configerror td {
  padding: 20px 10px !important;
}

.configerror td::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 20px;
  vertical-align: middle;
  background: url(/themes/console/images/info/errortriangle.png) center center no-repeat;
  background-size: 20px auto;
}

.buttons, .newTunnel {
  box-shadow: inset 0 0 0 1px #000, inset 0 0 2px 1px #030 !important;
}

#ssl th:first-child, #ssl td:first-child {
  padding-left: 10px;
}

#ssl tr:nth-child(n+3) th:last-child, #ssl tr:nth-child(n+3) td:last-child {
  text-align: center;
}

#ssl code {
  color: #cc0;
  white-space: nowrap;
}

.tunnelInfo {
  display: none;
}

#toggleInfo {
  margin: 0 -2px 0 0 !important;
  padding: 2px 5px;
  vertical-align: middle;
}

#toggleInfo img {
  height: 8px;
  width: 12px;
  mix-blend-mode: luminosity;
}

#toggleInfo:hover img, #toggleInfo:focus img {
  mix-blend-mode: normal;
}

@media screen and (min-width: 1500px) {
#toggleInfo {
  margin: -1px -2px 0 0 !important;
}
}

.base32 {
  max-width: 120px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: text-bottom;
  -moz-user-select: all;
  -webkit-user-select: all;
  user-select: all;
}

.nowrap {
  margin-right: 20px;
  white-space: nowrap;
}

.nowrap, .nowrap > * {
  vertical-align: middle;
}

.nowrap b {
  margin-left: 5px;
}

::placeholder {
  font-size: 80%;
}

.username::placeholder, .password::placeholder {
  color: #bb7;
  font-size: 100%;
  font-style: italic;
  text-transform: lowercase;
  opacity: .4;
}

.username, .password {
  padding-left: 24px !important;
  width: calc(50% - 12px);
}

select[disabled], select[disabled]:hover, select[disabled]:focus, select[disabled]:active {
  margin: 0;
  padding: 0;
  font-weight: normal !important;
  color: #ee9 !important;
  border: none !important;
  box-shadow: none !important;
  background: none !important;
  cursor: default;
}

#sigType[disabled] {
  padding-left: 14px !important;
  background: url(/themes/console/images/buttons/cryptokey.png) left center no-repeat !important;
}

input[readonly] {
  cursor: text !important;
}

th span {
  text-transform: none !important;
  letter-spacing: 0;
  word-spacing: 0;
}

#clientAuth th:nth-child(2), #clientAuth td:nth-child(2) {
  width: auto ;
}

#clientAuth td:last-child {
  width: 1% !important;
  text-align: center;
}

#clientAuth td:last-child b {
  margin: 0;
  padding: 0 8px;
}

#clientAuth th:first-child, #clientAuth td:first-child {
  width: 50% !important;
}

#clientAuth tr:first-child td {
  border-top: none;
}

/* server tunnel options */

#tunnelOpts td {
  padding: 0;
  width: 25% !important;
}

#tunnelOpts table {
  border: none;
}

#tunnelOpts table td {
  padding: 5px;
  border-bottom: 1px solid #242;
}

#tunnelOpts table tr:first-child td {
  border-top: none;
}

#tunnelOpts table tr:last-child td {
  border-bottom: none;
}

#tunnelOpts table td:first-child {
  border-left: none;
}

#tunnelOpts table td:last-child {
  border-right: none;
}

/* end server tunnel options */

h2, h3 {
  -webkit-text-stroke: 1px rgba(237,237,146,.3);
}

h2 a, h3 a {
  -webkit-text-stroke: 0 !important;
}

body:not(.iframed) .panel, body:not(.iframed) .panel#clients {
  margin: 24px auto 22px !important;
  padding: 0 !important;
  max-width: calc(100% - 28px);
  box-shadow: 0 0 0 2px #000, 0 0 0 5px #020, 0 0 1px 5px #010, 0 0 0 7px #000;
}

body:not(.iframed) .panel h2 {
  margin-top: 0 !important;
}

body:not(.iframed) #serverTunnels {
  margin-bottom: 0;
}

body#tunnelEditPage:not(.iframed) .panel,
body#tunnelRegistration:not(.iframed) .panel,
body#tunnelWizardPage:not(.iframed) .panel {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

body#tunnelSSL:not(.iframed) {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

body#tunnelEditPage:not(.iframed) h3 {
  margin-top: -1px;
}
