/* custom radios/checkboxes to enforce color scheme when OS widgets are non-standard  */
@supports (background-blend-mode: luminosity) { /* exclude ms browsers */
  .optbox {
    position: relative;
    width: 19px !important;
    height: 19px !important;
    min-width: 19px !important;
    outline: none;
    vertical-align: middle !important;
    box-sizing: border-box;
    border: 1px solid #252 !important;
    box-shadow: inset 0 0 0 1px #000, inset 3px 3px 3px 1px #000, 0 0 0 1px #000;
    box-shadow: inset 0 0 0 1px #000, inset 3px 3px 3px 1px rgba(0,0,0,.7), inset -1px -1px 2px 1px rgba(0,128,0,.1), 0 0 0 1px #000;
    background: #010;
    background: linear-gradient(to bottom, #020, #001800);
    -moz-appearance: none;
    -webkit-appearance: inherit;
    filter: drop-shadow(0 0 2px #000);
    will-change: transform;
  }

  input[type=checkbox], input[type=checkbox]:checked, input[type=checkbox][disabled], input[type=checkbox][disabled]:checked {
    border-radius: 1px;
  }

  input[type=radio], input[type=radio]:checked, input[type=radio][disabled], input[type=radio][disabled]:checked {
    border-radius: 50%;
  }

  .optbox:checked::before, .optbox:not(:checked)::before {
    position: absolute;
    box-shadow: inset 0 0 0 1px #6b6, 0 0 0 1px #000;
    background: #5a5;
    background: linear-gradient(135deg, #5a5, #383);
    content: "";
    transition: ease transform .15s;
  }

  input[type=checkbox]:checked::before, input[type=checkbox]:not(:checked)::before {
    width: 11px;
    height: 11px;
    top: 3px;
    left: 3px;
    box-shadow: inset 0 0 0 1px #6b6, inset 0 0 0 2px #050, 0 0 0 1px #000;
  }

  input[type=radio]:checked::before {
    width: 9px;
    height: 9px;
    left: 25%;
    top: 25%;
    border-radius: 50%;
  }

  .optbox:not(:checked)::before {
    color: transparent;
    box-shadow: none !important;
    border: none;
    background: none !important;
    transform: scale(0);
  }

  .optbox:hover, .optbox:focus {
    width: 19px !important;
    height: 19px !important;
    border: 1px solid #5a5 !important;
    background: #d40;
    box-shadow: 0 0 0 1px #000 !important;
  }

  .optbox[disabled], .optbox[disabled]:hover, .optbox[disabled]:checked, .optbox[disabled]:checked:hover {
    border: 1px solid #252 !important;
    background: #000;
    opacity: .5 !important;
    filter: none !important;
  }

  .optbox[disabled]:hover, .optbox[disabled]:focus, .optbox[disabled]:hover, .optbox[disabled]:active {
    box-shadow: none !important;
    background: #000 !important;
  }

  .optbox:hover:checked::before, .optbox:hover:not(:checked)::before {
    transition: ease transform .15s;
  }

  .optbox:not(:checked):hover, .optbox:not(:checked):not([disabled]):focus {
    box-shadow: inset 0 0 0 1px #000, inset 3px 3px 3px 1px #000, 0 0 0 1px #000 !important;
    background: #d40 !important;
  }

  .optbox:active, .optbox:not(:checked):not([disabled]):active, .optbox:not(:checked):active {
    background: #f60 !important;
  }
}

/* end custom radios/checkboxes */