/* Susimail Mobile Theme Override "Classic" */

body {
  margin: -1px 0 0;
}

.page {
  min-width: 560px;
  padding: 0 5px 12px !important;
  border-radius: 0;
  border-left: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
}

form {
  margin-bottom: 5px;
}

#dologin {
  width: 500px !important;
  margin: 22px auto 10px !important;
}

#dologin h1 {
  display: block !important;
}

.notifications {
  margin: -1px 5px !important;
}

p.error, p.info {
  border-left: none !important;
  border-right: none !important
}

.topbuttons {
  margin: -1px -6px !important;
  border-left: none !important;
  border-right: none !important;
}

#prefsave {
  margin: 10px -6px -17px !important;
  border-left: none !important;
  border-right: none !important
}

#mailbox td:nth-child(6), #mailbox th:nth-child(6), #mailbox td:nth-child(8), #mailbox th:nth-child(8) {
  display: none;
}

#newmail input[type="text"], #composemail textarea {
  width: 100%;
  min-width: 360px !important;
}

.header, .footer {
  display: none;
}
