/* Susimail "Classic" Theme */
/* Author: dr|z3d */

@import url("/themes/fonts/DroidSans.css");

body {
  margin: 3px 4px;
  background: #eef url(/themes/console/classic/images/bg0.png);
  background-size: 120px 120px;
  color: #2c354f;
  font-family: "Droid Sans", "Open Sans", "Noto Sans", Ubuntu, "Segoe UI", "Bitstream Vera Sans", "DejaVu Sans", Verdana, "Lucida Grande", Helvetica, sans-serif;
  font-size: 9pt;
}

body.iframed {
  background: transparent !important;
  margin: 5px 0 0 0;
  overflow: hidden; /* webkit fix */
}

* {
  outline: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  outline: none;
  border: none;
}

b, th, .mailListSender a {
  color: #414960 !important	;
}

div.header {
  padding: 30px 10px;
  margin: 0 -10px;
  background: #fff !important;
  border-bottom: 1px solid #aaafce;
  background: #fff url(/themes/susimail/images/susimail.png) center center no-repeat !important;
  background-size: auto 80% !important;
  display: none;
}

.header img {
  transform: scale(0.6);
  display: none;
}

h3#config {
  margin: -11px auto 10px;
  padding: 5px 10px;
  width: 300px;
  border: 1px solid #aaafce;
  color: #35415f;
  background: url(/themes/console/classic/images/titlebg.png) right center no-repeat;
  background: linear-gradient(to bottom, #fff 0%, #fff 50%, #eff2ff 50%, #eff2ff 100%);
  border-radius: 0 0 2px 2px;
}

.iframed h3#config {
  margin: 1px auto 10px;
}

textarea[name="config_text"] {
  resize: none;
}

li {
  color: #0c153d;
  font-size: 8.5pt;
  margin-left: 5mm;
  margin-right: 5mm;
}

p {
  color: #0c153d;
  margin-left: 5mm;
  margin-right: 5mm;
  font-size: 9pt;
}

p.hl {
  font-size: 12pt;
  letter-spacing: 2pt;
  line-height: 18pt;
  font-weight: bold;
}

p.text {
  margin-left: 10px;
  margin-right: 10px;
}

p.error, p.info {
  color: #900;
  padding: 15px 15px 15px 45px;
  border: 1px solid #aaafce;
  background: #ffe url(/themes/console/images/info/errortriangle.png) 8px center no-repeat;
  background-size: 28px auto;
  text-align: left;
  margin: -1px -11px;
  box-shadow: inset 0 0 0 1px #fff;
  display: block;
  font-weight: bold;
  line-height: 120%;
}

td p.info, td p.error {
  margin: -2px -3px;
}

tr.mailbody p.error {
  margin: -3px -1px;
}

tr.mailbody:nth-child(n+3) {
  background: #fff;
  border-top: 1px solid #aaafce;
  border-bottom: 1px solid #aaafce;
}

p.info {
  color: #337;
  background: #ffe url(/themes/console/images/info/infohelp.png) 8px center no-repeat;
  padding: 15px 15px 15px 45px;
}

span.coloured {
  color: #327bbf;
}

div.footer {
  border-top: 1px solid #aaafce;
  margin: 0 -10px -10px;
  background: #fff;
  background: rgba(255,255,255,0.5);
  padding: 1px;
  display: none;
}

p.footer {
  padding: 1px;
  margin: 0;
  font-size: 8pt;
  line-height: 10pt;
  text-align: center;
}

.iframed .footer {
  display: none;
}

p.mailbody {
  font: 9pt "Droid Sans Mono", "Andale Mono", "DejaVu Sans Mono", "Lucida Console", monospace;
  margin: 0 20px 10px;
  text-align: left;
}

.iframed p.mailbody {
  margin: 0;
  padding: 0 20px 10px;
}

.mailbody pre {
  white-space: pre-wrap !important;
  word-wrap: break-word;
}

div.attached {
  padding: 5px 0 5px 25px;
  background: #fff;
  background: url(images/attach.png) 5px center no-repeat;
  vertical-align: middle;
  text-align: left;
}

.iframed .attached {
  padding: 5px 0 5px 25px;
}

.attached img {
  border: 1px solid #cfd6ff;
  padding: 2px;
  image-orientation: from-image;
}

td#addattach {
  border-bottom: 1px solid #aaafce;
}

td#attachedfile {
  border-bottom: 1px dotted #89f;
}

.iframed .header {
  display: none;
}

a:link {
  color: #6b6b94;
  text-decoration: none;
  font-weight: bold;
  word-wrap: break-word;
}

#mailbox a {
  opacity: 0.85;
}

a:visited {
  color: #575779;
  text-decoration: none;
  font-weight: bold;
}

a:hover, a:focus {
  color: #f60;
  text-decoration: none;
  font-weight: bold;
  outline: none;
}

a:active {
  color: #f93;
  text-decoration: none;
  font-weight: bold;
}

a.linkspam {
  color: #8f1a1a;
}

a.linknew {
  color: #2a7f00;
}

td {
  line-height: 12pt;
  font-size: 9pt;
  padding: 1px 3px;
}

tr.list0 {
  background: #f1f0ff;
}

tr.list1 {
  background: #fff;
}

tr.list0, tr.list1 {
  border-top: 1px solid #ced1e3 !important;
  border-bottom: 1px solid #ced1e3 !important;
}

tr.list0:hover, tr.list1:hover {
  border-top: 1px solid #ced1e3;;
  border-bottom: 1px solid #ced1e3;;
  background: #ffd;
  cursor: pointer;
}

tr.list0:hover td, tr.list1:hover td {
  color: #104e99 !important;
}

tr.list0:hover a, tr.list1:hover a {
  color: #f60;
}

tr.list0 a:link {
  text-decoration: none;
}

tr.list1 a:link {
  text-decoration: none;
}

table.noborder {
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
}

table#mailbox {
  border: 1px solid #aaafce;
  background: #eef;
}

table#mailbox {
  margin: 1px auto -12px;
}

@supports not (-moz-appearance: none) {  /* webkit fixes */
table#mailbox {
  margin-top: 1px;
}

div#prefsave {
  border-bottom: 1px solid #aaafce;
}
}

_:-ms-lang(x), table#mailbox {
  margin-top: 1px;
}

#mailbox th > * {
  vertical-align: middle;
}

#mailbox th {
  padding: 6px;
  border-bottom: 1px solid #aaafce;
  background: url(/themes/console/classic/images/titlebg.png) right center no-repeat;
  background: linear-gradient(to bottom, #fff 0%, #fff 50%, #eff2ff 50%, #eff2ff 100%) !important;
  font-size: 70%;
}

#mailbox th.mailListDelete {
  background: url(/themes/console/images/buttons/delete.png) center center no-repeat, linear-gradient(to bottom, #fff 0%, #fff 50%, #eff2ff 50%, #eff2ff 100%) !important;
}

#mailbox th.mailListFlagged{
  background: url(/themes/susimail/images/status.png) center center no-repeat, linear-gradient(to bottom, #fff 0%, #fff 50%, #eff2ff 50%, #eff2ff 100%) !important;
  background-blend-mode: luminosity;
}

#mailbox th.mailListAttachment {
  background: url(/susimail/icons/attach.png) center right 3px no-repeat, linear-gradient(to bottom, #fff 0%, #fff 50%, #eff2ff 50%, #eff2ff 100%) !important;
}

/*
#mailbox th:last-child, #mailbox td:last-child, #mailbox th:nth-last-child(3), #mailbox td:nth-last-child(3) {
  text-align: right;
  width: 100px;
  white-space: nowrap;
  padding-right: 5px;
}
*/

#mailbox td:nth-child(5) {
  text-align: left;
}

.spacer {
  display: none;
}

td.mailListDelete, td.mailListFlagged, td.mailListAttachment {
  width: 24px;
  text-align: right;
}

.mailListSender a, .mailListSender a:visited,
.mailListDate a, .mailListDate a:visited,
.mailListSize a, .mailListSize a:visited {
  color: #0c153d;
}

.mailListSubject {
  text-align: left;
}

.mailListSender {
  background-image: url(/themes/console/images/buttons/user.png);
  background-position: 2px center;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  padding-left: 18px;
}

#mailbox hr, #newmail hr {
  display: none;
}

.mailListDelete {
  text-align: center;
}

#mailbox td:nth-child(3) a {
  font-weight: normal;
}

#mailbox tr:hover td:nth-child(3) a {
  color: #104e99 !important;
}

#mailbox tr.bottombuttons td {
  border-top: 1px solid #aaafce;
  background: #fff;
  padding-top: 3px;
  padding-bottom: 3px;
}

#mailbox tr.bottombuttons td:first-child {
  text-align: left;
}

#mailbox tr.bottombuttons td:last-child {
  padding-right: 2px;
}

#mailbox a img.sort:hover, .sort:focus {
  opacity: 1 !important;
  filter: drop-shadow(0 0 1px #f60);
}

a.sort {
  font-size: 0;
  line-height: 1;
}

img.sort {
  padding: 4px 3px;
  display: inline-block;
  height: 6px;
  width: auto;
  vertical-align: middle;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #414960;
  opacity: 0.6;
  background: #fff;
}

#newmail input[type="text"] {
  width: 665px;
}

#newmail td:first-child {
  font-weight: bold;
  padding-right: 10px;
}

pre {
  font: 8.5pt "Droid Sans Mono", "Andale Mono", "DejaVu Sans Mono", "Lucida Console", monospace;
  margin-left: 1cm;
  margin-right: 1cm;
}

.page {
  background: #eef url(/themes/console/classic/images/bg2.png);
  background: linear-gradient(to bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.2)), url(/themes/console/classic/images/bg2.png) #eef;
  background-size: 100% 100%, 120px 120px;
  color: #0c153d;
  margin: 0;
  padding: 0 10px 10px;
  border: 1px solid #aaafce;
  font-size: 9pt !important;
  line-height: 160% !important;
  box-shadow: 0 0 0 1px #eee;
  text-align: center;
  min-width: 800px;
}

.iframed .page {
  background: transparent;
  margin: -6px 1px 11px;
  min-width: 580px;
  border: none;
  box-shadow: none;
}

table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse;
}

th {
  font-size: 10pt;
  font-weight: bold;
}

form {
  line-height: 160%
}

.iframed form {
  margin-bottom: 2px;
}

#viewmail {
  margin: -9px -10px;
  border-top: 1px solid #aaafce;
  background: #eef;
}

.iframed #viewmail {
  margin: 1px 0 -10px;
  padding: 0;
  border: 1px solid #aaafce;
}

table#message_full {
  margin-bottom: -23px;
  border-top: 1px solid #aaafce;
}

.iframed #message_full {
  margin-bottom: -1px;
}

#message_full tr:last-child {
  border-bottom: 1px solid #aaafce;
}

input[type="checkbox"], input[type="radio"] {
  background: none;
  min-width: 16px;
  min-height: 16px;
}

input[type="radio"]:hover, input[type="radio"]:focus, input[type="checkbox"]:hover, input[type="checkbox"]:focus {
  filter: drop-shadow(0 0 3px #89f);
  box-shadow: inset 0 0 1px 2px #89f;
  outline: none;
}

input { /* opera fix */
  font-family: "Droid Sans", "Open Sans", "Noto Sans", Ubuntu, "Segoe UI", "Bitstream Vera Sans", "DejaVu Sans", Verdana, "Lucida Grande", Helvetica, sans-serif;
  font-size: 9pt;
}

textarea {
  font-family: "Droid Sans Mono", "Noto Mono", "Lucida Console", "DejaVu Sans Mono", monospace;
  font-size: 9pt;
}

input[type="text"], input[type="password"], textarea {
  border: 1px solid #aaafce;
  box-shadow: inset 1px 1px 1px #ddd;
  padding: 4px 5px !important;
  border-radius: 2px;
  color: #333;
  background: #fff;
}

input[type=submit], #settings {
  margin: 3px;
  font-weight: normal !important;
}

input.new_upload, input.delete_attachment {
  float: right;
  text-transform: capitalize;
  margin-right: 0;
}

@-moz-document url-prefix(http://) {
button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}
}

button:focus, input[type="submit"]:focus, input[type="reset"]:focus {
  filter: drop-shadow(0 0 1px #89f);
}

button, input[type="submit"], input[type="reset"], #settings {
  padding: 5px;
  display: inline-block;
  line-height: 130%;
  color: #333;
  border: 1px solid #aaafce;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #fff, 0 0 1px 0 #ddd;
  background-size: 14px 14px, 100% 100% !important;
  background: #eee;
  background: linear-gradient(to bottom, #fff, #eef);
  outline: none !important;
  cursor: pointer;
}

input[type="file"] {
  padding: 3px 2px;
}

button:hover, input[type="submit"]:hover, input[type="reset"]:hover,
button:focus, input[type="submit"]:focus, input[type="reset"]:focus,
#settings:hover, #settings:focus {
  color: #222;
  border: 1px solid #aaafce;
  background: #fff;
  background: linear-gradient(to bottom, #ddd 0%, #fff 100%);
  filter: drop-shadow(0 0 1px #89f);
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  color: #000;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #f60;
}

button:active, input[type="submit"]:active, input[type="reset"]:active, #settings:active {
  color: #555;
  border: 1px solid #bbb;
  box-shadow: inset 0 0 0 1px #fff, inset 3px 3px 3px #999;
  background: #ddd;
}

input[disabled][type="submit"], input[disabled][type="submit"]:hover, input[disabled][type="submit"]:active {
  border: 1px solid #bbb;
  background: linear-gradient(to bottom, #fff, #eef);
  opacity: 0.3;
  filter: none;
}

input.optbox {
  vertical-align: middle;
  background: none;
}

input, label {
  cursor: pointer;
}

input[type="text"], input[type="password"] {
  cursor: text;
}

/* illustrated images inc */

input.cancel {
  background: #eee url(/themes/console/images/buttons/no.png) no-repeat 7px center;
  background: url(/themes/console/images/buttons/no.png) no-repeat 7px center, linear-gradient(to bottom, #fff, #eef);
  padding: 5px 8px 5px 24px;
}

input.cancel:hover, input.cancel:focus {
  background: #fff url(/themes/console/images/buttons/no.png) no-repeat 7px center;
  background: url(/themes/console/images/buttons/no.png) no-repeat 7px center, linear-gradient(to bottom, #ddd 0%, #fff 100%);
}

input.clearselection {
  background: #eee url(/themes/susimail/images/none.png) no-repeat 7px center;
  background: url(/themes/susimail/images/none.png) no-repeat 7px center, linear-gradient(to bottom, #fff, #eef);
  padding: 5px 8px 5px 24px;
}

input.clearselection:hover, input.clearselection:focus {
  background: #fff url(/themes/susimail/images/none.png) no-repeat 7px center;
  background: url(/themes/susimail/images/none.png) no-repeat 7px center, linear-gradient(to bottom, #ddd 0%, #fff 100%);
}

input.delete, input.delete_attachment, input.really_delete {
  background: #eee url(/themes/console/images/buttons/delete.png) no-repeat 7px center;
  background: url(/themes/console/images/buttons/delete.png) no-repeat 7px center, linear-gradient(to bottom, #fff, #eef);
  padding: 5px 8px 5px 24px;
}

input.delete:hover, input.delete_attachment:hover, input.really_delete:hover,
input.delete:focus, input.delete_attachment:focus, input.really_delete:focus {
  background: #fff url(/themes/console/images/buttons/delete_hover.png) no-repeat 7px center;
  background: url(/themes/console/images/buttons/delete_hover.png) no-repeat 7px center, linear-gradient(to bottom, #ddd 0%, #fff 100%);
}

.topbuttons input.delete {
  margin-left: 0;
}

input.download {
  background: #eee url(/themes/console/images/buttons/download.png) no-repeat 7px center;
  background: url(/themes/console/images/buttons/download.png) no-repeat 7px center, linear-gradient(to bottom, #fff, #eef);
  padding: 5px 8px 5px 24px;
}

input.download:hover, input.download:focus {
  background: #fff url(/themes/console/images/buttons/download.png) no-repeat 7px center;
  background: url(/themes/console/images/buttons/download.png) no-repeat 7px center, linear-gradient(to bottom, #ddd 0%, #fff 100%);
}

input.offline {
  background: #eee url(/themes/susimail/images/offline.png) no-repeat 7px center;
  background: url(/themes/susimail/images/offline.png) no-repeat 7px center, linear-gradient(to bottom, #fff, #eef);
  padding: 5px 8px 5px 24px;
}

input.offline:hover, input.offline:focus {
  background: #fff url(/themes/susimail/images/offline_hover.png) no-repeat 7px center;
  background: url(/themes/susimail/images/offline_hover.png) no-repeat 7px center, linear-gradient(to bottom, #ddd 0%, #fff 100%);
}

input.list, input.moveto, input.switchto {
  background: #eee url(/themes/susimail/images/folder.png) no-repeat 7px center;
  background: url(/themes/susimail/images/folder.png) no-repeat 7px center, linear-gradient(to bottom, #fff, #eef);
  padding: 5px 8px 5px 24px;
}

input.list:hover, input.list:focus, input.moveto:hover, input.switchto:hover, input.moveto:focus, input.switchto:focus {
  background: #eee url(/themes/susimail/images/folder-open.png) no-repeat 7px center;
  background: url(/themes/susimail/images/folder-open.png) no-repeat 7px center, linear-gradient(to bottom, #ddd 0%, #fff 100%);
}

input.forward {
  background: #eee url(/themes/susimail/images/forward.png) no-repeat 7px center;
  background: url(/themes/susimail/images/forward.png) no-repeat 7px center, linear-gradient(to bottom, #fff, #eef);
  padding: 5px 8px 5px 24px;
}

input.forward:hover, input.forward:focus {
  background: #fff url(/themes/susimail/images/forward.png) no-repeat 7px center;
  background: url(/themes/susimail/images/forward.png) no-repeat 7px center, linear-gradient(to bottom, #ddd 0%, #fff 100%);
}

input.login {
  background: #eee url(/themes/susimail/images/login.png) no-repeat 7px center;
  background: url(/themes/susimail/images/login.png) no-repeat 7px center, linear-gradient(to bottom, #fff, #eef);
  padding: 5px 8px 5px 24px;
}

input.login:hover, input.login:focus {
  background: #fff url(/themes/susimail/images/login_hover.png) no-repeat 7px center;
  background: url(/themes/susimail/images/login_hover.png) no-repeat 7px center, linear-gradient(to bottom, #ddd 0%, #fff 100%);
}

input.logout {
  background: #eee url(/themes/susimail/images/logout.png) no-repeat 7px center;
  background: url(/themes/susimail/images/logout.png) no-repeat 7px center, linear-gradient(to bottom, #fff, #eef);
  padding: 5px 8px 5px 24px;
}

input.logout:hover, input.logout:focus {
  background: #fff url(/themes/susimail/images/logout_hover.png) no-repeat 7px center;
  background: url(/themes/susimail/images/logout_hover.png) no-repeat 7px center, linear-gradient(to bottom, #ddd 0%, #fff 100%);
}

input.reload, input.refresh {
  background: #eee url(/themes/console/images/buttons/update.png) no-repeat 7px center;
  background: url(/themes/console/images/buttons/update.png) no-repeat 7px center, linear-gradient(to bottom, #fff, #eef);
  padding: 5px 8px 5px 24px;
}

input.reload:hover, input.refresh:hover, input.reload:focus, input.refresh:focus {
  background: #eee url(/themes/console/images/buttons/update_hover.png) no-repeat 7px center;
  background: url(/themes/console/images/buttons/update_hover.png) no-repeat 7px center, linear-gradient(to bottom, #ddd 0%, #fff 100%);
}

input.invertselection {
  background: #eee url(/themes/susimail/images/selection.png) no-repeat 7px center;
  background: url(/themes/susimail/images/selection.png) no-repeat 7px center, linear-gradient(to bottom, #fff, #eef);
  padding: 5px 8px 5px 24px;
}

input.invertselection:hover, input.invertselection:focus {
  background: #eee url(/themes/susimail/images/selection.png) no-repeat 7px center;
  background: url(/themes/susimail/images/selection.png) no-repeat 7px center, linear-gradient(to bottom, #ddd 0%, #fff 100%);
}

input.show {
  background: #eee url(/themes/console/images/buttons/yes.png) no-repeat 7px center;
  background: url(/themes/console/images/buttons/yes.png) no-repeat 7px center, linear-gradient(to bottom, #fff, #eef);
  padding: 5px 8px 5px 24px;
}

input.show:hover, input.show:focus {
  background: #fff url(/themes/console/images/buttons/yes.png) no-repeat 7px center;
  background: url(/themes/console/images/buttons/yes.png) no-repeat 7px center, linear-gradient(to bottom, #ddd 0%, #fff 100%);
  padding: 5px 8px 5px 24px;
}

input.markall {
  background: #eee url(/themes/susimail/images/all.png) no-repeat 7px center;
  background: url(/themes/susimail/images/all.png) no-repeat 7px center, linear-gradient(to bottom, #fff, #eef);
  padding: 5px 8px 5px 24px;
}

input.markall:hover, input.markall:focus {
  background: #fff url(/themes/susimail/images/all.png) no-repeat 7px center;
  background: url(/themes/susimail/images/all.png) no-repeat 7px center, linear-gradient(to bottom, #ddd 0%, #fff 100%);
}

input.new {
  background: #eee url(/themes/susimail/images/compose.png) no-repeat 7px center;
  background: url(/themes/susimail/images/compose.png) no-repeat 7px center, linear-gradient(to bottom, #fff, #eef);
  padding: 5px 8px 5px 24px;
}

input.new:hover, input.new:focus {
  background: #fff url(/themes/susimail/images/compose_hover.png) no-repeat 7px center;
  background: url(/themes/susimail/images/compose_hover.png) no-repeat 7px center, linear-gradient(to bottom, #ddd 0%, #fff 100%);
}

input.reply {
  background: #eee url(/themes/susimail/images/reply.png) no-repeat 7px center;
  background: url(/themes/susimail/images/reply.png) no-repeat 7px center, linear-gradient(to bottom, #fff, #eef);
  padding: 5px 8px 5px 24px;
}

input.reply:hover, input.reply:focus {
  background: #fff url(/themes/susimail/images/reply.png) no-repeat 7px center;
  background: url(/themes/susimail/images/reply.png) no-repeat 7px center, linear-gradient(to bottom, #ddd 0%, #fff 100%);
}

input.replyall {
  background: #eee url(/themes/susimail/images/reply-all.png) no-repeat 7px center;
  background: url(/themes/susimail/images/reply-all.png) no-repeat 7px center, linear-gradient(to bottom, #fff, #eef);
  padding: 5px 8px 5px 24px;
}

input.replyall:hover, input.replyall:focus {
  background: #fff url(/themes/susimail/images/reply-all.png) no-repeat 7px center;
  background: url(/themes/susimail/images/reply-all.png) no-repeat 7px center, linear-gradient(to bottom, #ddd 0%, #fff 100%);
}

input.setpagesize, input.save {
  background: #eee url(/themes/console/images/buttons/yes.png) no-repeat 7px center;
  background: url(/themes/console/images/buttons/yes.png) no-repeat 7px center, linear-gradient(to bottom, #fff, #eef);
  padding: 5px 8px 5px 24px;
}

input.setpagesize:hover, input.save:hover, input.setpagesize:focus, input.save:focus {
  background: #fff url(/themes/console/images/buttons/yes.png) no-repeat 7px center;
  background: url(/themes/console/images/buttons/yes.png) no-repeat 7px center, linear-gradient(to bottom, #ddd 0%, #fff 100%);
  padding: 5px 8px 5px 24px;
}

input.send {
  background: #eee url(/themes/susimail/images/send.png) no-repeat 7px center;
  background: url(/themes/susimail/images/send.png) no-repeat 7px center, linear-gradient(to bottom, #fff, #eef);
  padding: 5px 8px 5px 24px;
}

input.send:hover, input.send:focus {
  background: #fff url(/themes/susimail/images/send_hover.png) no-repeat 7px center;
  background: url(/themes/susimail/images/send_hover.png) no-repeat 7px center, linear-gradient(to bottom, #ddd 0%, #fff 100%);
}

input.configure, #settings {
  background: #eee url(/themes/console/images/buttons/configure.png) no-repeat 7px center;
  background: url(/themes/console/images/buttons/configure.png) no-repeat 7px center, linear-gradient(to bottom, #fff, #eef);
  padding: 5px 8px 5px 24px;
}

input.configure:hover, input.configure:focus,
#settings:hover, #settings:focus {
  background: #fff url(/themes/console/images/buttons/configure_hover.png) no-repeat 7px center;
  background: url(/themes/console/images/buttons/configure_hover.png) no-repeat 7px center, linear-gradient(to bottom, #ddd 0%, #fff 100%);
}

input.saveas, input.saveasdraft {
  background: #eee url(/themes/susimail/images/save.png) no-repeat 7px center;
  background: url(/themes/susimail/images/save.png) no-repeat 7px center, linear-gradient(to bottom, #fff, #eef);
  padding: 5px 8px 5px 24px;
}

input.saveas:hover, input.saveas:focus, input.saveasdraft:hover, input.saveasdraft:focus {
  background: #fff url(/themes/susimail/images/save_hover.png) no-repeat 7px center;
  background: url(/themes/susimail/images/save_hover.png) no-repeat 7px center, linear-gradient(to bottom, #ddd 0%, #fff 100%);
}

input.new_upload {
  background: #eee url(/themes/susimail/images/attach.png) no-repeat 7px center;
  background: url(/themes/susimail/images/attach.png) no-repeat 7px center, linear-gradient(to bottom, #fff, #eef);
  padding: 5px 8px 5px 24px;
}

input.new_upload:hover, input.new_upload:focus {
  background: #fff url(/themes/susimail/images/attach.png) no-repeat 7px center;
  background: url(/themes/susimail/images/attach.png) no-repeat 7px center, linear-gradient(to bottom, #ddd 0%, #fff 100%);
  padding: 5px 8px 5px 24px;
}

/* pagenav */

input.firstpage, input[name="firstpage"],
input.firstpage[disabled]:hover, input[name="firstpage"][disabled]:hover,
input.firstpage[disabled]:focus, input[name="firstpage"][disabled]:focus {
  background: #eee url(/themes/susimail/images/first.png) no-repeat center center !important;
  background: url(/themes/susimail/images/first.png) no-repeat center center, linear-gradient(to bottom, #fff, #eef) !important;
  padding: 5px 14px !important;
  text-indent: -99999px;
}

input.firstpage:hover, input[name="firstpage"]:hover,
input.firstpage:focus, input[name="firstpage"]:focus {
  background: #fff url(/themes/susimail/images/first.png) no-repeat center center;
  background: url(/themes/susimail/images/first.png) no-repeat center center, linear-gradient(to bottom, #ddd 0%, #fff 100%);
}

input.lastpage, input[name="lastpage"],
input.lastpage[disabled]:hover, input[name="lastpage"][disabled]:hover,
input.lastpage[disabled]:focus, input[name="lastpage"][disabled]:focus {
  background: #eee url(/themes/susimail/images/last.png) no-repeat center center !important;
  background: url(/themes/susimail/images/last.png) no-repeat center center, linear-gradient(to bottom, #fff, #eef) !important;
  padding: 5px 14px !important;
  text-indent: -99999px;
}

input.lastpage:hover, input[name="lastpage"]:hover,
input.lastpage:focus, input[name="lastpage"]:focus {
  background: #fff url(/themes/susimail/images/last.png) no-repeat center center;
  background: url(/themes/susimail/images/last.png) no-repeat center center, linear-gradient(to bottom, #ddd 0%, #fff 100%);
}

input.prevpage, input.prev, input[name="prev"], input[name="prevpage"],
input.prevpage[disabled]:hover, input.prev[disabled]:hover, input[name="prev"][disabled]:hover, input[name="prevpage"][disabled]:hover,
input.prevpage[disabled]:focus, input.prev[disabled]:focus, input[name="prev"][disabled]:focus, input[name="prevpage"][disabled]:focus {
  background: #eee url(/themes/susimail/images/previous.png) no-repeat center center;
  background: url(/themes/susimail/images/previous.png) no-repeat center center, linear-gradient(to bottom, #fff, #eef) !important;
  padding: 5px 14px !important;
  text-indent: -99999px;
}

input.prevpage:hover, input.prev, input[name="prev"]:hover, input[name="prevpage"]:hover,
input.prevpage:focus, input.prev, input[name="prev"]:focus, input[name="prevpage"]:focus {
  background: #fff url(/themes/susimail/images/previous.png) no-repeat center center;
  background: url(/themes/susimail/images/previous.png) no-repeat center center, linear-gradient(to bottom, #ddd 0%, #fff 100%);
}

input.nextpage, input.next, input[name="nextpage"], input[name="next"],
input.nextpage[disabled]:hover, input.next[disabled]:hover, input[name="nextpage"][disabled]:hover, input[name="next"][disabled]:hover,
input.nextpage[disabled]:focus, input.next[disabled]:focus, input[name="nextpage"][disabled]:focus, input[name="next"][disabled]:focus {
  background: #eee url(/themes/susimail/images/next.png) no-repeat center center;
  background: url(/themes/susimail/images/next.png) no-repeat center center, linear-gradient(to bottom, #fff, #eef) !important;
  padding: 5px 14px !important;
  text-indent: -99999px;
}

input.nextpage:hover, input.next:hover, input[name="nextpage"]:hover,
input.nextpage:focus, input.next:focus, input[name="nextpage"]:focus {
  background: #fff url(/themes/susimail/images/next.png) no-repeat center center;
  background: url(/themes/susimail/images/next.png) no-repeat center center, linear-gradient(to bottom, #ddd 0%, #fff 100%);
}

input[disabled] {
  cursor: default;
}

#pagenav input[disabled]:hover, #pagenav input[disabled]:active,
#messagenav input[disabled]:hover, #messagenav input[disabled]:active {
  border: 1px solid #bbb;
  box-shadow: inset 0 0 0 1px #fff;
  filter: none !important;
}

/* end pagenav */

/* end illustrated images */

select {
  margin: 3px;
  padding: 3px 20px 3px 4px;
  vertical-align: middle;
  text-overflow: ellipsis;
  font-size: 9pt;
  color: #333;
  box-shadow: 0 0 0 1px #fff inset, 0 0 1px 0 #ddd;
  background: url(/themes/console/classic/images/dropdown.png) right 8px center no-repeat #fff;
  background: url(/themes/console/classic/images/dropdown.png) right 8px center no-repeat, linear-gradient(to bottom, #fff, #f4f5ff);
  background-size: 10px auto, 100% 100%;
  border-radius: 2px;
  border: 1px solid #aaafce;
  box-shadow: inset 0 0 0 1px #fff;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.folders select {
  margin-left: 0;
}

select option {
  background: #fff;
}

select:hover, select:active {
  background: #ddd url(/themes/console/classic/images/dropdown_hover.png) right 8px center no-repeat !important;
  background: url(/themes/console/classic/images/dropdown_hover.png) right 8px center no-repeat, linear-gradient(to bottom, #ddd 0%, #fff 100%) !important;
  background-size: 10px auto, 100% 100% !important;
}

select:focus {
  color: #000;
  background: #fff url(/themes/console/classic/images/dropdown_hover.png) right 8px center no-repeat !important;
  background: url(/themes/console/classic/images/dropdown_hover.png) right center 8px no-repeat,  linear-gradient(to bottom, #ddd 0%, #fff 100%) !important;
  background-size: 10px auto, 100% 100% !important;
  outline: none !important;
}

select::-ms-expand {
  display: none;
}

div#composemail {
  text-align: center !important;
  padding: 10px;
}

#composemail table {
  width: auto;
  margin: auto;
}

#composemail input {
  margin-left: 0;
}

#composemail input[type="file"] {
  padding: 0;
}

#mailhead {
  margin: 0;
}

#mailhead, #message_full tr:first-child {
  background: #f2f2ff;
}

#message_full tr:first-child {
  border-bottom: 1px solid #aaafce;
}

#mailhead tr {
  border: none !important;
}

#mailhead td:first-child {
  white-space: nowrap;
  width: 20px;
  text-align: right;
  padding-left: 10px;
  font-weight: bold;
}

/* login panel */

#dologin {
  border: 1px solid #aaafce;
  padding: 10px 0 0;
  width: 500px;
  margin: 55px auto 40px;
  box-shadow: 0 0 0 1px #fff;
  background: #fefefe;
  background: linear-gradient(to bottom, rgba(240,240,255,0.4), rgba(220,220,255,0.5)) #fefefe;
  box-shadow: inset 0 0 0 1px #fff, 0 0 1px #999;
  filter: opacity(0);
  animation: linear fade-in .15s .5s forwards;
}

.iframed #dologin {
  margin: 38px auto 15px !important;
}

@keyframes fade-in {
  0,80% {filter: opacity(0)}
  100% {filter: opacity(1)}
}

#dologin input[type="text"] {
  text-align: left !important;
  font-weight: normal;
}

#dologin input[name="user"] {
  background: #fff url(/themes/console/images/buttons/user.png) 5px center no-repeat;
  padding: 4px 5px 4px 26px !important;
}

#dologin input[name="pass"] {
  background: #fff url(/themes/console/images/buttons/password.png) 5px center no-repeat;
  padding: 4px 5px 4px 26px !important;
}

#dologin input[name="user"], #dologin input[name="pass"], #dologin input[name="host"] {
  width: 60% !important;
  width: calc(60% + 26px) !important;
  margin-right: 3px;
}

#dologin table {
  width: 100%;
  width: calc(100% - 2px);
  margin: 0 auto;
  border-collapse: collapse;
}

#dologin td {
  padding: 3px;
  font-weight: bold !important;
  color: #41444d;
}

#dologin td:first-child {
  white-space: nowrap;
  padding-left: 0;
  width: 120px !important;
}

#dologin td:last-child {
  width: auto !important;
  padding-right: 0;
}

#dologin td[colspan="2"] {
  padding: 3px 0;
}

#dologin tr:last-child td {
  padding: 3px 0 5px;
}

#dologin h1 {
  margin: -10px 0 10px;
  padding: 10px 15px;
  background: #fff;
  background: linear-gradient(to right, #fff 30%, #eff2ff);
  border-bottom: 1px solid #aaafce;
  color: #35415f;
  font-size: 14pt;
  text-align: left;
  letter-spacing: 0.08em;
  word-spacing: 0.1em;
  box-shadow: inset 0 0 0 1px #fff;
}

#dologin hr {
  display: block !important;
  background: #aaafce;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.5);
}

#dologin tr:nth-child(6) hr {
  margin-bottom: 4px;
}

#dologin tr:last-child hr {
  margin-top: 3px;
}

.iframed #dologin tr:nth-child(6) hr {
  margin-top: 5px;
}

#dologin tr:last-child a {
  margin: 6px -2px 6px;
  padding: 3px 10px;
  display: inline-block;
  font-size: 90%;
  border: 1px solid rgba(255,255,255,0);
  border: 1px solid rgba(119, 120, 159, 0.3);
  border-radius: 25px;
  box-shadow: 0 0 1px rgba(255,255,255,0);
  background: #efefff;
  background: linear-gradient(to right, #f2f2ff, #f6f6ff, #f2f2ff);
  transition: ease all 0.1s;
}

#dologin tr:last-child a:hover {
  border: 1px solid #77789f;
  border: 1px solid rgba(119, 120, 159, 0.5);
  background: #f2f2ff;
  background: linear-gradient(to bottom, #fafaff 50%, #e8e8ff 50%) #f2f2ff;
  box-shadow: 0 0 1px #ccf;
  transition: ease all 0.1s;
}

#dologin tr:last-child a:active {
  border: 1px solid rgba(119, 120, 159, 0.3);
  background: #e2e2ff;
  background: linear-gradient(to bottom, #eaeaff 50%, #d9d9ff 50%);
  box-shadow: inset 3px 3px 3px #779;
  transition: ease all 0.1s;
  color: rgba(65, 70, 95, 0.8) !important;
  color: #99a5df !important;
}

#dologin tr:last-child td {
  color: transparent;
  color: rgba(119, 120, 159, 0);
}

/* end login panel */

.iframed div.footer {
  margin-top: -10px;
}

hr {
  color: #555;
  background: #555;
  height: 1px;
  border: 0 solid #555;
  width: 100%;
  margin: 5px 0;
  text-align: center;
  display: none;
}

#composemail td {
  padding: 3px;
}

#composemail textarea {
  width: 665px;
  min-width: 665px;
  min-height: 200px;
  margin-top: 5px;
}

#composemail input, #composemail textarea {
  margin-right: 0;
}

div#pagenav {
  border-top: 1px solid #aaafce;
  padding: 10px 5px 0;
  font-size: 9.5pt;
  border-radius: 0 0 4px 4px;
  margin: 0 -11px !important;
}

.topbuttons {
  margin: -1px -11px 10px;
  padding: 6px 0 0;
  background: #fff !important;
  background: linear-gradient(to bottom, #fff 0%, #eef 100%) !important;
  border: 1px solid #aaafce;
  border-bottom: none;
}

.topbuttons#pagesize {
  padding: 6px 0 4px;
  border-bottom: 1px solid #aaafce;
}

.iframed .topbuttons, .iframed p.error, .iframed p.info {
  margin: -1px -11px;
  padding: 20px 42px 20px;
  border: 1px solid #aaafce;
  border-left: none;
  border-right: none;
}

.iframed .topbuttons {
  margin-bottom: -2px;
  padding: 6px 5px 5px;
}

.iframed .topbuttons > * {
  vertical-align: middle;
}

.folders {
  padding: 5px;
}

.iframed .folders {
  padding: 5px 5px 4px;
}

.folders > * {
  vertical-align: middle;
}

#messagenav {
  padding-bottom: 3px;
}

.iframed #messagenav {
  padding-bottom: 0;
}

table#pagenav {
  margin: 7px auto -3px;
  width: 100%;
  border-top: 1px solid #aaafce;
}

.bottombuttons br {
  display: none;
}

div#prefsave {
  margin: 10px -10px -24px;
  padding: 6px 0 5px;
  border-top: 1px solid #aaafce;
  background: #fff;
}

tr.bottombuttons table#pagenav {
  margin: 0;
  width: 100%;
  border-bottom: 1px solid #555;
}

#pagenavbottom td {
  border-top: 1px solid #aaafce;
}

#pagenavbottom td table td {
  border-top: none;
}

table#pagenav td {
  padding: 6px 3px 4px;
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
  font-size: 10pt;
}

table#pagenav td:first-child {
  width: 49%;
  text-align: right;
}

table#pagenav td:last-child {
  width: 49%;
  text-align: left;
}

#pagenav input:disabled {
  display: inline;
  opacity: .3;
}

.bottombuttons input:disabled {
  display: none;
}

/* responsive layout */

@media screen and (max-width: 1024px) {
.page {
  min-width: 600px;
}

#composemail textarea, #newmail input[type="text"] {
  min-width: 400px;
  width: 100% !important;
}
}

@media screen and (min-width: 1300px) {
.iframed body, .iframed td, .iframed textarea, .iframed input, .iframed div, .iframed p.mailbody, .iframed p.error {
  font-size: 10pt !important;
}
}

@media screen and (min-width: 1500px) {
body, td, textarea, input, div, p.mailbody, p.error, #settings, select {
  font-size: 10pt !important;
}
}

/* end responsive layout */

/* Edge/IE tweaks*/

_:-ms-lang(x), * {
  filter: none !important;
}

/* end Edge/IE tweaks */

/* mail list date */

.mailListDate {
  text-align: center;
}

.listDate, .listTime, .listClock {
  display: inline-block;
  white-space: nowrap;
  text-align: right;
}

.listClock {
  margin-top: 1px;
  padding-left: 1px;
  min-width: 16px;
  vertical-align: text-top;
  font-size: 80%;
  text-align: left;
  text-transform: lowercase;
/*  border-bottom: 1px solid rgba(100,100,100,0.3);*/
}

tr:hover .listclock {
/*  border-bottom: 1px solid rgba(100,100,100,0.5);*/
}

.listDate {
  min-width: 60px;
  text-align: right;
}

.listTime {
  min-width: 58px;
  opacity: 0.85;
}

/* end mail list date */

.mailListSender, .mailListDate, .mailListSize {
  white-space: nowrap;
  width: 1%;
}

.mailListSender {
  text-align: left !important;
}

#mailbox th, #mailbox td {
  padding-left: 6px;
  padding-right: 6px;
}

#mailbox td.mailListSender {
  padding-left: 18px;
}

img.sort {
  max-height: 12px;
  max-width: 12px;
}

.topbuttons .pagenavcontrols {
  border-top: 1px solid #aaafce;
  border-bottom: 1px solid #aaafce;
}

.iframed .topbuttons .pagenavcontrols {
  border: none;
}

.iframed .topbuttons .pagenavcontrols td {
  padding: 0 5px;
}

.pagenavcontrols td:nth-child(2) {
  width: 1%;
  white-space: nowrap;
  font-weight: bold;
  font-size: 140% !important;
  opacity: 0.7;
}

#info {
  margin-left: 3px;
  padding: 5px 6px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal	;
  color: #333;
  border: 1px solid #bbb;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #fff;
  background: #f2f2f2;
}

.listDate, .listTime, .listClock {
  display: inline-block;
  white-space: nowrap;
  text-align: right;
}

.listClock {
  margin-top: 1px;
  padding-left: 1px;
  min-width: 18px;
  vertical-align: text-top;
  font-size: 80%;
  text-align: left;
  text-transform: lowercase;
}

.listDate {
  padding: 2px;
  min-width: 64px;
  text-align: right;
  font-weight: bold;
  opacity: 0.8;
}

tr:hover .listDate {
  opacity: 0.9;
}

.listDate span {
  padding: 1px 0;
  display: inline-block;
  min-width: 18px;
  text-align: center;
  border-radius: 2px;
}

.listTime {
  min-width: 40px;
  text-align: left;
  opacity: 0.85;
}

/* custom radios/checkboxes to enforce color scheme when OS widgets are non-standard  */
@supports (background-blend-mode: luminosity) { /* exclude ms browsers */
input[type="checkbox"], input[type="checkbox"]:checked, input[type="checkbox"][disabled], input[type="checkbox"][disabled]:checked,
input[type="radio"], input[type="radio"]:checked, input[type="radio"][disabled], input[type="radio"][disabled]:checked {
  position: relative;
  width: 19px !important;
  height: 19px !important;
  vertical-align: middle !important;
  box-sizing: border-box;
  border: 1px solid #aaafce;
  background: #f8f8ff;
  -moz-appearance: none;
  -webkit-appearance: inherit;
  filter: drop-shadow(0 0 1px #ccf);
  will-change: transform;
}

input[type="checkbox"], input[type="checkbox"]:checked, input[type="checkbox"][disabled], input[type="checkbox"][disabled]:checked {
  border-radius: 2px;
  box-shadow: inset 1px 1px 1px rgba(204, 204, 204, 0.6);
}

input[type="radio"], input[type="radio"]:checked, input[type="radio"][disabled], input[type="radio"][disabled]:checked {
  border-radius: 50%;
}

input[type="checkbox"]:checked::before, input[type="radio"]:checked::before,
input[type="checkbox"]:not(:checked)::before, input[type="radio"]:not(:checked)::before {
  position: absolute;
  transition: linear all 0.05s;
  transform: scale(1);
}

.optbox:not(:checked) {
  box-shadow: inset 2px 2px 1px rgba(204, 204, 240, 0.6);
}

input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 11px;
  height: 11px;
  line-height: 80%;
  border-radius: 1px;
  background: #67f;
  transform: scale(1);
  transition: linear all .05s;
}

input[type="radio"]:checked::before {
  content: "";
  border-radius: 50%;
  left: 25%;
  top: 25%;
  width: 9px;
  height: 9px;
  background: #67f;
}

input[type="checkbox"]:not(:checked)::before, input[type="radio"]:not(:checked)::before {
  transform: scale(0);
}

input[type="checkbox"]:hover, input[type="radio"]:hover, input[type="checkbox"]:focus, input[type="radio"]:focus {
  background: #fff;
  width: 19px !important;
  height: 19px !important;
  border: 1px solid #67f !important;
  box-shadow: 0 0 2px #f60 !important;
  filter: drop-shadow(0 0 3px #89f) !important;
  filter: none !important;
}

input[type="checkbox"][disabled], input[type="radio"][disabled], input[type="checkbox"][disabled]:hover, input[type="radio"][disabled]:hover,
input[type="checkbox"][disabled]:checked, input[type="radio"][disabled]:checked, input[type="checkbox"][disabled]:checked:hover, input[type="radio"][disabled]:checked:hover {
  filter: none !important;
  box-shadow: none !important;
  opacity: 0.5;
}
}

/* end custom radios/checkboxes */

/* confirm mail delete */

#confirmdelete td {
  padding: 10px !important;
}

.iframed #confirmdelete td {
  padding: 12px 10px 10px !important;
}

#confirmdelete td {
  box-shadow: inset 0 0 0 1px #fff !important;
  background: #900;
  background: repeating-linear-gradient(45deg, #900, #900 10px, #ee9 10px, #ee9 20px) !important;
  background-size: 400%;
  animation: attention 240s linear infinite both;
}

#nukemail {
  margin: 0;
  padding: 35px 20px 20px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: #900;
  border: 1px solid #700;
  box-shadow: inset 0 0 1px 1px #dda, 0 0 0 1px #fff, 0 0 2px 2px rgba(0,0,0,.3);
  background: #ffe url(/themes/console/images/question.png) center 12px no-repeat;
  background: url(/themes/console/images/question.png) center 20px no-repeat, linear-gradient(to bottom, #ffe, #ffffe6);
  animation: fade-in linear 0.5s;
}

#nukemail.floating {
  margin: 0 auto 1px;
  position: absolute;
  z-index: 2000;
  top: 250px;
  left: 0;
  right: 0;
  width: 480px;
}

.iframed #nukemail {
  top: 230px;
}

#nukemail br {
  display: block;
}

#nukemail span {
  margin: 30px auto 20px;
  padding-bottom: 20px;
  display: inline-block;
  width: 100%;
  font-size: 120%;
  border-bottom: 1px solid #933;
}

/* end confirm delete */

.debugHeader:nth-child(n+3) td {
  border-top: 1px solid #aaafce;
}

.debugHeader pre {
  margin: 4px 10px;
  white-space: pre-wrap;
  line-height: 130%;
  font-size: 9.5pt;
  opacity: 0.9;
}

@media screen and (max-width: 1500px) {
.debugHeader pre {
  font-size: 8.5pt;
}
}

#toggle {
  height: 20px;
  width: 24px;
  vertical-align: middle;
  font-size: 0;
  border: none;
  box-shadow: none;
  background: url(/themes/console/images/buttons/show.png) center center no-repeat;
  background-size: 20px 20px !important;
  cursor: pointer;
  mix-blend-mode: luminosity;
}

#toggle:hover {
  mix-blend-mode: normal;
}

#toggle.hidepass {
  background: url(/themes/console/images/buttons/hide.png) center center no-repeat;
}

#toggle.showpass {
  background: url(/themes/console/images/buttons/show.png) center center no-repeat;
}
