/* Console Theme "Midnight" - Mobile Override */

body {
  padding: 0 5px;
  margin: 5px 0 0 !important;
}

div#xhr {
  width: 617px;
  margin: 0 auto;
}

div.routersummaryouter {
  position: relative;
  float: none;
  width: auto;
  margin: 0 0 5px;
}

div.routersummary {
  float: none;
  width: 600px;
  margin: 0 auto;
}

@media screen and (min-width: 1500px) {
div.routersummary {
  width: 600px !important;
}

.routersummary table[id^="sb_"] {
  width: 600px !important;
}
}

div[style="height: 36px;"] + a, a[href="/summaryframe"] {
  display: inline-block;
  margin: 12px 0 0 !important;
  padding: 4px 15px !important;
  border-radius: 15px;
  border: 1px solid #241f69;
}

a[href="/summaryframe"] {
  margin: 3px 0 2px !important;
}

.routersummary td,
.routersummary a,
.routersummary h4,
.routersummary h4 a,
.routersummary button {
  font-size: 10pt !important;
}

.routersummary h3 a {
  font-size: 11pt !important;
  padding: 3px 1px;
}

div.routersummary table,
.routersummary table[id^="sb_"] {
  min-width: 100% !important;
  min-width: calc(100% - 1px) !important;
  margin-bottom: -6px !important;
}

#sb_localtunnels {
  margin-top: -5px !important;
}

.routersummary tr:nth-child(odd) td {
  padding: 3px;
  background: #000100;
}

.routersummary tr:nth-child(even) td {
  padding: 3px;
  background: #000018;
}

.routersummary tr td {
  border-top: 1px solid #000 !important;
  border-bottom: 1px solid #000 !important;
}

.routersummary tr:hover td {
  border-top: 1px solid #004 !important;
  border-bottom: 1px solid #004 !important;
}

.routersummary tr:hover td {
  background: #002;
}

.routersummary h3,
.routersummary h4,
.routersummary hr {
  margin-right: 7px !important;
  margin-left: -10px !important;
}

div.routersummary h4 {
  margin: -6px 7px -8px -10px !important;
}

div.routersummary form {
  margin: -2px 5px -4px -11px !important;
}

.routersummary button[type="submit"], .routersummary button[type="cancel"] {
  margin: 5px 10px !important;
  padding: 8px 5px !important;
  min-width: 120px !important;
}

h1 {
  min-width: 570px;
  margin: 0 !important;
}

div.news {
  min-width: 580px;
  margin: -1px 0 0;
}

div.main {
  min-width: 580px;
  margin: -1px 0 !important;
}

.sorry {
  margin: -1px 0 0;
}

@media screen and (min-width: 1500px) {
div.news {
  margin: -1px 0 0 !important;
}

div.main {
  margin: -1px 0 !important;
}

.sorry {
  margin: -1px 0 0 !important;
}
}